[2020-04-06 19:57] vintagepc opened #1 "Simulator waitlocks in Delay2 (Suspect Micro/Timer2 issue)"
The firmware does not boot past any _delay() calls due to a timer issue.
There are some known documented timer bugs with simavr.

[2020-04-06 19:59] vintagepc opened #2 "Add SPI EEPROM simulator for W25X20CL"
Per title. Right now the F/W boots with 'W25X20CL is not responding..." message.

[2020-04-06 20:01] vintagepc opened #3 "Get UART/serial output working"
Possibly blocked by #1 - even bumping up the UART initialization to before LCD_init() causes a hang. UART may have timer issues, or may be related to not having the at32u2 chip.

Blocked by #11. I suspect fixing that will get things working correctly.

[2020-04-06 20:04] vintagepc opened #4 "Fix display character handling"
There are a few issues with the stock display implementation:

- Colour of text is black :heavy_check_mark:
- No brightness support :heavy_check_mark:
- Custom characters don't work :heavy_check_mark:
- Possible wrap/RAM alignment issue. I think the stock does not map the memory correctly for 20x4 displays. I had to hack this to make it work, I probably missed something when chain-writing across b

[2020-04-06 20:07] vintagepc opened #5 "Implement heaters"
Implement heaters/thermistors for the bed and hotend.

Probably just do a linear time ramp for now, can get fancy with overshoot later if we want.

Also, allow for overriding thermistor readings so you can fake things like thermal runaway.

[2020-04-06 20:07] vintagepc opened #6 "Implement fans"
Add fan simulation.

[2020-04-06 20:09] vintagepc opened #7 "MK3 PAT optical sensor"
Simulate the MK3 PAT sensor.

(IR sensor has been implemented, so discussions below on that are outdated... I don't see any reason to really alter the class and we will be able to simulate the different versions if we bring in the changes in #122 )

[2020-04-06 20:30] vintagepc opened #8 "TMC2130 Sim"
Motor driver simulation.
Might be nice to have it track position internally and display where it thinks it is vs where the printer thinks it is,

Also a visual of the motors while running.

I'm going to take a crack at this...

[2020-04-06 20:31] vintagepc opened #9 "Beeper sim"
Simulate the beeper?

[2020-04-06 20:33] vintagepc opened #10 "SD card sim"
Simulate the SD card. Lower priority since can in theory print via USB with pronterface.

[2020-04-07 02:06] #1 closed, assigned to nobody

[2020-04-07 02:18] vintagepc opened #11 "Serial output is blocked by M_UDREx not resetting"
Stock firmware does not boot, it waitspins in MarlinSerial::Write() because it appears M_UDREx is not getting reset. I'm not sure whether this is a quirk of Marlin serial or the emulator since the bootloader can talk over PTY and flash firmware.

[2020-04-07 05:36] leptun opened #12 "Questions and chit-chat"
Hi @vintagepc
Thank you for inviting me to this project. I've read what you wrote so far in readme.md. I have a few questions:
How do you propose that we communicate after you push the first usable source code?
Are there others involved in the project?

[2020-04-07 13:30] vintagepc opened #13 "PINDA simulation"
Simulate the PINDA.

[2020-04-07 13:46] vintagepc opened #14 "Motor sim"
There's benefit to simulating the motors separately and "wiring" them to the drivers, I think.
Also simulate the endstops on X/Y/ZMax

edit: I pulled in stepper code from https://github.com/buserror/simreprap/ that may be a good starting point.

[2020-04-08 18:47] #4 closed, assigned to vintagepc

[2020-04-10 13:06] vintagepc opened #15 "ADC is not working right"
Something is not right with the ADC configurations/sim behaviour.
Temperatures read higher or lower than they should; I suspect partly a bug in the thermistor code, and partly incorrect AREF configuration.

[2020-04-10 13:08] vintagepc opened #16 "Persist EEPROM contents"
Define and persist the internal EEPROM used to store calibration/firmware data.

Then we can poke it directly and do things like bypass the setup wizard during early bringup.

[2020-04-10 13:23] vintagepc opened #17 "Streamline build/test process."
Setup a build chain that compiles both firmware and the simulator for faster and easier cycling of changes and investigating firmware issues.

[2020-04-10 23:22] #17 closed, assigned to nobody

[2020-04-11 02:11] #16 closed, assigned to vintagepc

[2020-04-11 12:15] #15 closed, assigned to vintagepc

[2020-04-11 12:27] vintagepc opened #21 "Bed temp too high"
For some reason the bed reads about 7 degrees higher than it should. Not sure why as the raw ADC values seem correct...
Bed reads 70C with an input value of 63C. (Hotend is on target).

simAVR ADC out value: 4105 (corresponds to 839 in the thermistor table, this seems right)
[[ 65C == 830, 60C==857 ]]

current_temperature_raw_bed (in FW): 13424.  13424/16 (oversample nr) == 839 as well.

[2020-04-11 12:39] leptun opened #22 "Encoder Click pulse might be too fast."
The click can't be triggered in factory reset.

[2020-04-11 12:40] leptun opened #23 "Encoder CW and CCW pulse is only 1/4 of the actual encoder rotation"
Because of the way the encoder works, we need 4 CW or CCW pulses for one movement to be registered by the fw.

[2020-04-11 12:41] leptun opened #24 "Last character on the screen is most of the time broken or not cleared"
Something seems to be broken with the last character on the lcd

[2020-04-11 12:44] leptun opened #25 "Pressing 'R' results in factory reset"
For some reason, pressing the R key makes the board enter factory reset on reboot. Could the encoder become stuck in the "pressed" state?

[2020-04-11 13:50] leptun opened #26 "How to manage source code"
@vintagepc Quick question: how do you include this project over the simavr cloned repo?
Just moving this source over that project doesn't seem like something clean

[2020-04-11 14:11] leptun opened #27 "'make clean' deletes the bootloader hex file"
An exception must be made to that hex file.

[2020-04-11 15:15] #22 closed, assigned to vintagepc

[2020-04-11 15:15] #23 closed, assigned to vintagepc

[2020-04-11 15:15] #25 closed, assigned to vintagepc

[2020-04-11 15:15] #27 closed, assigned to vintagepc

[2020-04-11 15:28] #24 closed, assigned to vintagepc

[2020-04-11 22:32] vintagepc opened #30 "Figure out timer defaults"
The timers are not initialized to anything (i.e. not running).

This means things like PWM control on PWM pins doesn't actually do anything.

It would be helpful if someone could dump the values of the timer control registers (prior to timer0_init) from a real einsy.

In particular, TCCRxA and TCCRxB, for x0...5

[2020-04-11 22:59] vintagepc opened #32 "Brightness detect does not work"
Right now the brightness detection doesn't work. This is due to simAVR limitations; it will always return 1 for the pin state if you try to read with internal pullup enabled.

The problem is in sim/avr_ioport.c, line 60.
(avr_ioport_update_irqs).

TODO - figure out how to deal with external loading when an internal pullup is enabled. This is a known bug (https://github.com/buserror/simavr/issues/2

[2020-04-13 01:26] #21 closed, assigned to nobody

[2020-04-14 11:28] #30 closed, assigned to leptun

[2020-04-14 13:00] #6 closed, assigned to vintagepc

[2020-04-14 14:47] vintagepc opened #37 "Performance profiling"
Input seems sluggish. Investigate why things are slow and see if we can improve things.

Findings so far:
Adding
-	avr_extint_set_strict_lvl_trig(avr,0,false);
-	avr_extint_set_strict_lvl_trig(avr,1,false);

blocks the held-low interrupt trigger polling on INT0/INT1, which makes the simulator feel a little snappier.  These are SCL and SDA (P3/filament sensor), so I don't think we use them for actu

[2020-04-14 19:06] leptun opened #38 "Voltage simulation"
Simulate the two sense pins for the power supply rails. One for bed, the other for everything else 24V. Not really needed, but we could make it anyway, just for the sake of a complete simulation.

[2020-04-14 19:11] leptun opened #39 "Option to disable the bootloader"
There could be some way to provide an argument to the executable which skips over all the bootloader waiting and just jumps to address 0x0000

[2020-04-15 00:40] #39 closed, assigned to nobody

[2020-04-15 00:57] #32 closed, assigned to vintagepc

[2020-04-15 09:22] leptun opened #42 "Compile error on HEAD"
[code]

[2020-04-15 10:52] leptun opened #43 "Backlight level 255 is not registered correctly."
When the level is 0 or 255, the analog_write function uses digital IO instead of timer PWM. As a consequence, 0 or 255 will be read by the simulator as whatever the timer had the last time in its registers

[2020-04-15 12:21] #5 closed, assigned to vintagepc

[2020-04-15 12:23] vintagepc opened #45 "Bed starts PWMing as soon as the firmware boots"
For some reason the bed PWM is active/toggling as soon as the firmware boots, causing the bed temperature to creep up.

Figure out what is going on. I suspect it's related to the invert mode on Timer0, and possibly some of the soft PWM tricks in use for the heatbed.

[2020-04-15 12:41] vintagepc opened #46 "Documentation and comments"
Once things settle down a bit... fix up the documentation (Getting started, how-tos) and go through the code and add some useful comments to the various hardware objects we've added or changed.

[2020-04-15 12:50] leptun opened #47 "Watchdogs/Optiboot is not working"
@vintagepc I just finished a very basic W25X20CL implementation. It answers correctly to the initial Device ID and Manufacturer commands, enough to make the firmware recognize the spi flash.
The problem is that the firmware won't boot anymore. It gets stuck _somewhere_. It is not because of the W25X20CL since the CS is high when it gets stuck. I think that it now gets stuck inside `optiboot_w25x20

[2020-04-15 12:51] vintagepc opened #48 "Simulate an MMU2"
- [x] Because why not?
- [x] FINDA
- [x] Load to nozzle (connect P feed & IR sensor somehow)
- [x] Drivers
- [x] Dial in step distances/limits
- [x] UART comms
- [x] Get rid of external UART loopback
- [x] LEDS
- [x] Shift register(s)
- [x] Minimalist visuals
- [x] Clever title

[2020-04-15 12:53] vintagepc opened #49 "Support base for Prusa printer variants"
Implement a base platform on which additional printer models can be supported.
Implement a printer factory for instancing the requested model at startup.

[2020-04-15 13:00] vintagepc opened #50 "Visuals for simulated printer"
Look into some GL visuals to show the simulated printer in action, esp. the axes.

Quite a ways down the road, but very nice to have.

(Side note, I can do this as the LCD stuff reminded me I do have a GL class under my belt so should be able to get back up to speed on that in short order. Actually producing the models might be a different story, but hey, STLs are triangles... so are openGL meshes

[2020-04-15 13:10] leptun opened #51 "Multi-lang support"
We could use PF-build.sh for this.

[2020-04-15 14:33] leptun opened #52 "Segfault after #44"
After I merged #44 to my local branch, I started getting segmentation faults after thermistors are initialized.
Line responsible for the error at runtime:
`avr_connect_irq(hw.hBed.irq + IRQ_HEATER_TEMP_OUT,hw.tBed.irq + IRQ_TERM_TEMP_VALUE_IN);`
If it's commented out, everything works correctly.

[2020-04-15 14:39] vintagepc opened #53 "Get CI working"
Get a CI setup implemented to autobuild PRs/commits.

[2020-04-15 21:57] #52 closed, assigned to nobody

[2020-04-16 01:52] #3 closed, assigned to nobody

[2020-04-16 01:52] #11 closed, assigned to nobody

[2020-04-16 12:10] #2 closed, assigned to leptun

[2020-04-16 12:45] vintagepc opened #57 "License compliance"
Review everything and make sure we satisfy licenses of any code we use /modify from other sources before we release it publicly

review license options for releasing our developed extensions and select one. (probably just GPL it.)

[2020-04-16 14:54] vintagepc opened #58 "avrdude-slic3r sending garbage blocks to the simulator"
Per #51, verify if we can upload firmware and language data to the simulated einsy.

If it doesn't work, fix it.

[2020-04-16 14:54] #51 closed, assigned to nobody

[2020-04-16 16:30] leptun opened #59 "Reset not working"
The reset key seems to not work most of the time. If you press R when you boot with the bootloader, it works correctly, but when the bootloader is skipped the firmware will just get stuck.
Also, is the uart DTR line creating reset signals?

[2020-04-18 16:20] #43 closed, assigned to vintagepc

[2020-04-18 18:52] vintagepc opened #62 "Serial comms not working right"
Connecting with pronterface over the PTY doesn't work right. Output is still being directed to the terminal, and pronterface is not seeing replies to the temperature commands.

[2020-04-18 20:13] #62 closed, assigned to vintagepc

[2020-04-18 20:22] vintagepc opened #63 "Flash display progress bar does not work"
Progress bar on the bootloader flash screen doesn't work.

[2020-04-19 11:17] #63 closed, assigned to nobody

[2020-04-19 12:05] #8 closed, assigned to vintagepc

[2020-04-19 12:05] #14 closed, assigned to nobody

[2020-04-19 12:46] #42 closed, assigned to nobody

[2020-04-19 17:31] #58 closed, assigned to nobody

[2020-04-20 07:23] leptun opened #65 "How do timers work in simAVR?"
How do the timers work in simAVR? Do they function just like in the real hardware by having their clock tied to the CPU's clock source? I'm asking this, since the way the timers+WDT behave looks a lot like they are tied to the host's clock, not actually to the simulated program.
I have a feeling (not sure how to test it) that when the simulation slows down because of many IRQs or something like th

[2020-04-20 18:05] #38 closed, assigned to nobody

[2020-04-20 18:20] leptun opened #67 "Glut: Highlight enabled axis"
Just as the title says. If the axis is disabled, show the driver in normal text. If the axis is enabled, invert the color of the background of the axis letter.
This is purely cosmetic.

[2020-04-20 18:41] #67 closed, assigned to vintagepc

[2020-04-20 21:04] #10 closed, assigned to leptun

[2020-04-20 21:56] vintagepc opened #70 "Timer2 Investigation"
Sub-problem 1 in investigating #65

Looks like timer2 is overflowing about twice as often as it should, relative to "real life".

It went from 943998 -> 959998 (16000) in about 8 actual seconds.

This by itself isn't necessarily an issue, assuming we are clocking at double rate on our simulator.
But this does mess with real-time delays/timeouts.

The bigger issue is that millis starts at a non-zer

[2020-04-21 01:09] #70 closed, assigned to nobody

[2020-04-21 05:33] leptun opened #71 "Improve SD card user experience"
- [x] Ability for the user to specify a gcode file which is added to the image file at startup. Simplifies a lot running a gcode from the SD card in the sim.
- [x] Ability to specify path to SD card image.
- [x] Automatic image size detection. Default to 128MB when creating file.
- [x] Automatically format new image to fat32.
- [x] Option to plug/unplug virtual SD card (aka toggle SD_DETECT).
- [x

[2020-04-21 13:56] vintagepc opened #72 "Bootloader hangs if trying to flash languages"
The bootloader seems to get stuck in a serial waitloop not unlike main Marlin if you try to flash languages.

TODO: get a .afx build of the bootloader in order to disassemble and inspect it with the PC trace.

[2020-04-23 12:48] #13 closed, assigned to vintagepc

[2020-04-23 22:34] #45 closed, assigned to nobody

[2020-04-24 01:51] vintagepc opened #74 "SD card assert occasionally fails"
I think there may still be some issues in the SD code. Occasionally I encounter something like this:

[code]

This happens on boot after a watchdog reset.

[2020-04-24 02:12] vintagepc opened #75 "Actually implement phase correct pwm"
The reason that the system is clocking at about 2x the speed it should on delays is that we are cheating and running "frequency correct" pwm on timer2.

Fix this, I suspect doing so will also resolve the need for the TIMSK2 hack.

[2020-04-24 12:30] vintagepc opened #76 "Clean up reset handling"
Right now the reset is clunky.

AVR and ioports have reset function handlers that can be populated and will be invoked at the right time. Use them

Additionally, if a lot of items need special reset handling.. maybe implement a Reset() method on them that we can invoke easily rather than a giant block of code in Einsy.cpp

[2020-04-24 12:39] leptun opened #77 "Reboot when starting the Selftest manually"
`RESET detected (08)!`
I think this is a WDT reset. Shouldn't happen.

[2020-04-24 13:35] leptun opened #78 "Help with debugging a project with MK3SIM"
I'm currently preparing a project for after home isolation. Not sure if you saw it, but I've implemented external TMC2130 drivers on a Mini-Rambo board. That project was kinda a success. I was able to print at incredible speeds and the noise was reduced significantly (maybe even a bit more than on the MK3), but I was still having issues with the drivers themselves. Crash detection was working spor

[2020-04-25 07:17] leptun opened #79 "Windows support"
Is there any chance we could make this emulator run on Windows?
Technically, avrSIM can run on Windows using cygwin, but would everything else still work if we did use it?
I'm asking since right now I have to constantly apply changes manually to two source codes for the firmware when debugging. I got annoyed that something didn't work and make sense at all and decided to just printf everything tha

[2020-04-25 15:14] vintagepc opened #80 "Clean up pin handling"
Per #79, #78 , clean up the irq/pin handling.

[2020-04-25 17:35] #80 closed, assigned to vintagepc

[2020-04-25 19:26] 3d-gussner opened #82 "IR Sensor issues"
I am trying to simulate the "old" and "new" IR sensor.
Already found in `Einsy.c` [where](https://github.com/vintagepc/MK3SIM/blob/master/Einsy.c#L283) i can change the toggle voltages but struggle that the sim doesn't update the actual pin that is read by the firmware.
So changing the Voltage does do anything in the Prusa Firmware:
Support -> Sensor IR doesn't change

New sensor toggles:
0.0 - 0.

[2020-04-26 15:30] vintagepc opened #84 "IR sensor cleanup"
- [x] Move the IR sensor to its own object/file
- [x] Support setting enumerated states rather than manually hacking voltage levels.
- [x] Don't forget to track the digital pin state!
- [x] Tie in MMU feed control to trigger some distance after MMU load.

[2020-04-26 18:20] leptun opened #85 "Makefile for c++ compiling"
I was trying to play a bit with a high level graphics library. It’s called raylib. Unfortunately, it needs c++ to function properly. Is it possible to compile to c++ as well or is the simavr source c only?

If it is possible to compile to c and c++ (a combination of both, just like in Prusa-Firmware), could you give me some indications as where to start?

[2020-04-26 18:26] #84 closed, assigned to nobody

[2020-04-26 18:53] #48 closed, assigned to nobody

[2020-04-26 20:15] vintagepc opened #86 "Convert to CMake"
Convert the board to a CMake project. That way it will be a little bit more portable, in addition to decoupling us from the parent simavr build system.

[2020-04-27 00:01] vintagepc opened #87 "C++ conversion, class cleanup"
Convert code to C++...
- [x] Ditch macros for IRQ lookups
- [x] Handling for C callbacks -> class methods
- [x] Inheritance
- [x] Cleanup IRQ value/name pair generation
- [x] Obsolete makefile.

------

- [x] hwDefs/button.h
- [x] hwDefs/Einsy_EEPROM.h (See #91)
- [x] hwDefs/fan.h
- [x] hwDefs/hc595.h
- [x] hwDefs/hd44780_charROM.h
- [x] hwDefs/hd44780_glut.h
- [x] hwDefs/hd44780.h
- [x] hwDefs/he

[2020-04-27 07:34] leptun opened #88 "Missing file"
[code]

[2020-04-27 11:42] leptun opened #89 "Performance dropped yet again"
Compared to a few days ago when the simulator was running way to fast, now it's extremely slow.
Ubuntu in VM

[2020-04-27 12:14] #88 closed, assigned to nobody

[2020-04-28 12:06] #86 closed, assigned to nobody

[2020-04-28 16:28] vintagepc opened #91 "Cleanup eeprom class [For cygwin build]"
The eeprom helper doesn't work on cygwin. Probably because we include something that really wasn't meant to be included, the core mcu_t definition which results in multiple definitions at link time.

avr_eeprom has get and set ioctls, use those instead, so the sim_atmega2560 no longer needs to be included, only sim_eeprom.h

[2020-04-29 05:43] #85 closed, assigned to vintagepc

[2020-04-29 07:17] leptun opened #93 "TMC2130 standstill flag"
Is this flag implemented in the TMC2130_REG_DRV_STATUS? It's bit 31.
If it never switches to 1 when the steppers don't move, the homing has a 1s delay for each axis. It times out after 1s of waiting for standstill. Maybe this should be implemented if it isn't.

[2020-05-01 16:54] 3d-gussner opened #95 "Cleanup IO broke to be able to compile older version"
I compiled a v3.8.1 firmware and make failed with
[code]
I think that https://github.com/vintagepc/MK3SIM/commit/4df4c778148d7f36411e2708f1f85b83fe52f331 broke this.

v3.8.1 doesn't know `LCD_BL_PIN ` and `VOLT_PWR_PIN `

[2020-05-01 17:03] vintagepc opened #96 "Clean up/Remove Firmware folder?"
Now that we no longer need a specially tweaked firmware to run in MK3SIM... should we remove the Firmware/ folder (except for the includes we use for pin definitions/eeprom locations?)

Thoughts?

[2020-05-08 22:53] #79 closed, assigned to nobody

[2020-05-08 22:53] #87 closed, assigned to vintagepc

[2020-05-08 22:53] #91 closed, assigned to vintagepc

[2020-05-08 22:53] #93 closed, assigned to vintagepc

[2020-05-08 22:53] #96 closed, assigned to vintagepc

[2020-05-08 22:53] #76 closed, assigned to nobody

[2020-05-08 22:53] #89 closed, assigned to nobody

[2020-05-11 06:25] leptun opened #99 "Something is horribly wrong with the heaters"
![image](https://user-images.githubusercontent.com/17808203/81530320-4f545f00-9369-11ea-9540-e82eaf75efc3.png)
Just wanted to do a First layer calibration

[2020-05-11 11:47] #99 closed, assigned to nobody

[2020-05-11 13:33] #82 closed, assigned to nobody

[2020-05-12 17:08] leptun opened #100 "IR sensor autoload issues"
The filament sensor seems to constantly generate autoload messages for me as if the filament was constantly pushed and pulled. Filament inserted also results in runouts.

[2020-05-12 21:29] wavexx opened #102 "Tabs"
Any convention we should follow?

![2020-05-12T232718](https://user-images.githubusercontent.com/1017726/81747310-2a1a3a80-94a8-11ea-8f38-6deaefcde878.png)

My guess is tab here is 4 spaces ;)

I managed to sneak an .editorconfig in the Prusa-FW repo for this, but truth be told I'm totally fine with an .exrc or .dirlocals too

[2020-05-13 16:14] leptun opened #103 "Freeze when closing"
The emulator sometimes freezes when I try to close it with 'q'. It's a random issue. I have to CTRL+C to break the program from the terminal window. The GL window doesn't close.
Latest lines before the freeze:
[code]
I wasn't using the MMU, btw.

[2020-05-14 10:54] #47 closed, assigned to nobody

[2020-05-14 10:58] #65 closed, assigned to nobody

[2020-05-14 11:07] #72 closed, assigned to nobody

[2020-05-14 11:10] leptun opened #104 "Graceful exit"
Is there any way that we can gracefully exit (just like 'q'), but with text command entered into the terminal? It might make scripting in the future easier.

[2020-05-14 12:24] #74 closed, assigned to leptun

[2020-05-14 12:27] leptun opened #106 "SPI flash logging"
We should probably reduce the verbosity of the SPI flash. Lucky us that it is used rarely. :)

[2020-05-14 12:35] leptun opened #107 "Did we forget to remove the lang folder when the firmware was removed?"
https://github.com/vintagepc/MK3SIM/tree/master/lang
@vintagepc

[2020-05-14 12:58] #107 closed, assigned to nobody

[2020-05-14 14:18] #106 closed, assigned to nobody

[2020-05-14 14:55] #37 closed, assigned to nobody

[2020-05-16 01:09] vintagepc opened #108 "Change submodule dependencies"
Change the dependency so simavr is now a submodule of MK3SIM

[2020-05-16 17:23] #100 closed, assigned to vintagepc

[2020-05-16 17:23] #108 closed, assigned to vintagepc

[2020-05-16 18:31] vintagepc opened #110 "SD card sizes over 128M not supported"
I've implemented auto-sd size detection - but it does not seem to support anything over 128m as we fail the asserts() in set_csd_size:

	/* Check they fit within the LS 12b and LS 3b. */
	assert ((c_size & 0xfff) == c_size);
	assert ((c_size_mult & 0x07) == c_size_mult);

[2020-05-19 22:46] #110 closed, assigned to leptun

[2020-05-23 13:32] 3d-gussner opened #114 "Feature request: visualize extrusion"
Do you think it could be possible to visualize an extrusion?
Here an idea with magnifying x10
![image](https://user-images.githubusercontent.com/25530011/82731965-8122d980-9d0a-11ea-9909-bdf751742445.png)
Constant extruder move while hotend begins slow and get faster and slow again.

[2020-05-23 19:14] #50 closed, assigned to vintagepc

[2020-05-24 05:21] #77 closed, assigned to nobody

[2020-05-24 19:59] vintagepc opened #115 "SD Card WDR (Check file is not finding M84)"
Looks like the WDR on some gcode files is caused by check_file taking longer than expected. Disabling it results in the print starting.

I've done some preliminary digging and it would appear that check_file isn't stopping once it finds M84.

The file I'm trying to print has M84 at address 4438989. Yet , it continues reading well past that, to EOF (at 4447078).

[code]

Reading a different file wh

[2020-05-26 19:42] leptun opened #117 "Marlin support"
Just tried running this fork of marlin in the emulator: https://github.com/PrusaOwners/Marlin/blob/i3-MK3/Marlin/example_configurations/Prusa/MK3/README.md

The result is ... eh ... not good:
[code]
Original PrusaFirmware works.
Here is the firmware for testing:
[rambo.zip](https://github.com/vintagepc/MK3SIM/files/4684647/rambo.zip)

[2020-05-27 13:14] vintagepc opened #118 "Mouse wheel input"
I think it makes sense to use the mouse wheel as encoder input on the LCD window. Pushing the button 200 times when trying to move an axis is not fun...

[2020-05-27 13:29] vintagepc opened #119 "Follow-the-nozzle camera"
Implement a camera mode that follows the nozzle from a short distance so you can watch the print from the E frame of reference instead of having it sling the print/X axis in and out of view.

[2020-05-27 22:02] #118 closed, assigned to vintagepc

[2020-05-27 23:43] #119 closed, assigned to vintagepc

[2020-05-28 12:15] #53 closed, assigned to nobody

[2020-05-28 13:00] 3d-gussner opened #122 "Enable test different IR sensor versions"
Please checkout my https://github.com/3d-gussner/MK3SIM/tree/my_master
With this i can test "old" and "new" MK3s IR sensors
- IR 0.3 or older sensor using toggle 'g'
- IR 0.4 or newer sensor

I don't want to create a PR yet as not that familiar with the MK3SIM

[2020-05-28 13:38] vintagepc opened #123 "Fix mouse view control"
The view input is clunky at times. Fix this

-- Better pan/rotate when zoomed in
-- Reset view button/key.

[2020-05-29 11:33] #123 closed, assigned to nobody

[2020-05-29 14:38] vintagepc opened #125 "Code cleanup, headers and comments"
It's starting to feel like we are very close to having something reasonable we can release publicly.

I'm making this issue to track reviewing all of the code files for the appropriate GPL headers, and ensuring there are also brief descriptions/comments next to public methods in the code.

Also place the GPLv3 license in the root of the repo.

- [x] Einsy.cpp
- [x] MMU2.cpp
- [x] utility/MK3SGL.cp

[2020-05-30 18:48] #125 closed, assigned to vintagepc

[2020-06-03 13:01] #57 closed, assigned to nobody

[2020-06-03 15:02] leptun opened #127 "RightClick is also encoder press"
Could we maybe also have a RightClick be detected as an encoder click on the LCD screen? It would help a lot with the trackpad on my laptop which sometimes registers a RightClick instead of a normal click.
Or even better, right click could be press and hold, but it would still work in my case

[2020-06-04 00:41] #127 closed, assigned to nobody

[2020-06-04 16:47] #102 closed, assigned to nobody

[2020-06-06 22:38] vintagepc opened #132 "MMU multicolour extrusions"
give the extrusion visualizer MMU filament info so it can "print" in different colours.

This should be pretty straight forward. Just maintain several sets of print GL objects with different colors

The tricky part will be determining the current mmu position. Maybe monitor the pipe for T codes. That will be more flexible than magic position numbers in C++

[2020-06-09 14:42] vintagepc opened #134 "Printer Factory cleanup"
As a result of #49, there is a printer factory object, but it is not very clean.

Fix it so printers can register themselves.

Also, it's probably going to be horribly broken if you try to instance multiple printers... I'm pretty sure it's going to leak memory.

It should be fine for single instances and I don't want to get bogged down making it perfect right now to the detriment of the other stuf

[2020-06-09 14:49] vintagepc opened #135 "Rewrite SDcard to C++"
I think the time has come . . .after #133, since that will convert/remove much code from einsy.cpp

[2020-06-10 14:43] #49 closed, assigned to nobody

[2020-06-10 14:43] #95 closed, assigned to nobody

[2020-06-10 14:43] #117 closed, assigned to vintagepc

[2020-06-11 01:48] #132 closed, assigned to nobody

[2020-06-11 10:11] 3d-gussner opened #137 "Serial bridge broken??"
After last changes I cannot get the MK3SIM working with arg "-s" or "--serial".
All printer output goes directly to the "internal" terminal.

What am I doing wrong? Need to connect ocotprint and just can't.

[2020-06-11 11:22] #137 closed, assigned to nobody

[2020-06-11 13:34] vintagepc opened #138 "Scripting language"
Implement a lightweight scripting language for automated testing. This will be needed for automated testing procedures... and #104

Maybe a lightweight javascript engine or something, with extensions to interact with the various components.

Some example scripted tests:
- [x] The firmware boots (start on serial)
- [x] The optiboot seclang upload works
- [ ] Run a full wizard (not sure how yet)
- [

[2020-06-13 17:40] #115 closed, assigned to nobody

[2020-06-13 17:40] #135 closed, assigned to vintagepc

[2020-06-13 17:53] #71 closed, assigned to nobody

[2020-06-14 20:30] #104 closed, assigned to nobody

[2020-06-14 20:33] #78 closed, assigned to vintagepc

[2020-06-14 20:38] leptun opened #142 "Manual LCD communication disturbance"
Implement a way where you can manually get the nibbles out of sync so that you can test how the LCD implementation recovers from a fault.

[2020-06-15 07:21] leptun opened #143 "Fix the outdated HD44780.h documentation"
I am talking about this section:
[code]
There's also a few mistakes, such as "now" instead of "not"

[2020-06-17 13:40] vintagepc opened #144 "Discuss/Implement VCD traces and/or telemetry system"
Follow-on to the scripting framework - we need a way to get telemetry back from the printer. Let's see if we can re-use the SimAVR VCD mechanism to do this.

@wavexx it was suggested you might have some input or design considerations based on work you've been doing, so please don't hesitate to offer input 👍

[2020-06-18 00:51] #138 closed, assigned to vintagepc

[2020-06-18 00:51] #59 closed, assigned to nobody

[2020-06-18 00:51] #142 closed, assigned to nobody

[2020-06-18 00:51] #143 closed, assigned to nobody

[2020-06-22 22:09] #9 closed, assigned to nobody

[2020-06-23 02:02] #26 closed, assigned to nobody

[2020-06-23 14:04] vintagepc opened #149 "Fix CI build"
For some reason it broke in master due to SDL dependency (but it built fine in the PR branch...??!?)

Fix this. I probably just need to install SDL_Audio in the build runner.

[2020-06-23 14:29] #149 closed, assigned to vintagepc

[2020-06-23 14:54] vintagepc opened #151 "Investigation: Atmel studio debugging"
Investigate whether the simulator could be used with atmel studio to debug a running firmware on the AVR.

[2020-06-23 22:04] vintagepc opened #152 "Fix compile warnings and turn on "warnings are errors""
Per title. Should help keep code cleaner and reduce bugs.

[2020-06-24 13:07] #152 closed, assigned to nobody

[2020-06-24 13:42] vintagepc opened #154 "Fix workflow"
CI worflow doesn't seem to be building the PR branch, only master. Fix that.

[2020-06-24 18:15] vintagepc opened #156 "Project logo/artwork"
I have a few ideas... I'll try to put something together over the next few days....

[2020-06-27 12:51] wavexx opened #157 "Emulation speed and general performance"
I was checking simavr directly, but I don't see any option to set the runtime speed, only the emulated cpu frequency?

When running with the intention of scripting you could as well emulate the system as fast as the host can go.

[2020-06-27 21:42] #154 closed, assigned to nobody

[2020-06-30 02:31] vintagepc opened #162 "Reference autogen"
Add a build step to regen the various reference docs like command line args and scripts... far more convenient than manually copy-pasting every time you make a tweak

[2020-07-03 14:11] #144 closed, assigned to vintagepc

[2020-07-03 14:11] #162 closed, assigned to vintagepc

[2020-07-03 21:00] #156 closed, assigned to nobody

[2020-07-03 21:33] #46 closed, assigned to nobody

[2020-07-04 19:23] vintagepc opened #163 "Thread safety"
Some parts are horribly thread unsafe due to GL concurrency... fix that.

[2020-07-08 13:52] #163 closed, assigned to vintagepc

[2020-07-08 14:02] #151 closed, assigned to nobody

[2020-07-11 14:27] vintagepc opened #166 "GL error checking"
Enable GL error checking in debug builds

[2020-07-12 12:27] 3d-gussner opened #167 "Feature request: MMU2 filament sensor FINDA toggle"
We have the MK3S IR filament sensor toggle using 'f', hope we can reuse the same char for the MK3 PAT9125 sensor.
Would be great if we could also get a toggle using 'F' upper case f for the MMU2, this should trigger the FINDA.

[2020-07-12 15:04] 3d-gussner opened #168 "Feature request: MMU2 lite"
As we have the MK3 lite version it would be also great to have a MMU2 lite version:
- Motor flags for all 3 NEMA
- FINDA with LED (we can see the selector movement)
- IDLER Bearings (see if correct bearing is selected)
- Extruder gears 1-5
- LEDs from the MM-control board

Is that a lot of work?

@leptun could provide the obj files.

[2020-07-12 16:56] wavexx opened #170 "Make -Werror optional"
I know warning creep is an issue when people use IDEs (which I don't - and I still chase a clean build anyway), however I only see disadvantages when using -Werror by default, esp when combined with -Wextra (which is useful to turn on occasionally, although tends to produce even more spourious output) which stops the build early.

I currently get at least one invalid warning in GCC 10 which preven

[2020-07-14 15:40] #170 closed, assigned to nobody

[2020-07-17 01:48] #167 closed, assigned to nobody

[2020-07-17 01:48] #168 closed, assigned to nobody

[2020-07-18 09:58] 3d-gussner opened #174 "MMU2 crash and need of button interaction"
After implementing 'F' for toggling the FINDA I managed easily to get the MMU2 in "User interaction" mode.
https://help.prusa3d.com/en/article/mmu2s-leds-meaning_2187

So we need again some MMU2 button triggers via keyboard.

[2020-07-18 12:58] #174 closed, assigned to nobody

[2020-07-19 17:57] #166 closed, assigned to vintagepc

[2020-07-20 12:28] #7 closed, assigned to vintagepc

[2020-07-21 12:38] vintagepc opened #178 "Setup tag/release building"
Add a workflow that makes a release build and uploads it when it is tagged.

[2020-07-23 00:43] #178 closed, assigned to nobody

[2020-07-23 13:06] vintagepc opened #181 "Synchronize with upstream simAVR"
Per title.

[2020-07-24 13:00] vintagepc opened #182 "Print from SD WDR, take 2"
Seems this is still an issue with the file checking causing a WDR on certain files.

Once more into the breach... (Re-visit of #115)

[2020-07-25 15:00] vintagepc opened #183 "Keyboard input alternative."
The sheer number of key inputs is getting cumbersome and messy.

Find a way to have components be able to make simple toggles/buttons themselves and register them for display/callback when clicked.

Then we can have a nicer dynamic control panel for interaction.

[2020-07-25 17:18] #181 closed, assigned to nobody

[2020-07-25 19:07] vintagepc commented on #12
We are public!

Note this decoupled the previous fork(s) you may have had to private repos, so you will need to create a new fork and/or rebase your changes onto the current repo.

[2020-07-25 19:36] leptun commented on #12
Wonderful news! Where are you planning to make a post about the project?

[2020-07-25 19:38] vintagepc commented on #12
I haven't thought that far ahead, I figure I might just let it gain its own momentum. I might post about it in the PR forums.

(I don't do social media like reddit etc, so my exposure avenues are somewhat limited).

Who knows, maybe someday we'll get featured on a Prusa livestream or blog post... :rofl:

[2020-07-26 09:09] DRracer commented on #12
@vintagepc great news! I'll talk to our Content team about the (now public) MK3SIM, in fact I already got some questions about its state and whether it will get public one day.
The best timing to promote your huge effort is with FW 3.9.1 and largely repaired Linear Advance 1.5, which wouldn't be possible without the SIM and direct insight into what is going on in the algorithms during printing. @w

[2020-07-26 09:36] DRracer commented on #12
@vintagepc - a short notice:
- cloned with submodules
- apt install libelf-dev libsdl-dev freeglut3-dev
- opened CMakeLists.txt in QtCreator 4.13b1
- compiled like a charm with gcc-10.1.0 ;)
It runs, however I'm still having problems with the boot process taking about a minute. The "P" and "E" letters are rotating, but nothing is happening. It is standing at `pBoard->WaitForFinish();` and some oth

[2020-07-26 11:25] vintagepc commented on #12
Interesting, please feel free to start a separate issue thread so we can debug this without other messages getting interleaved.

(You did load a firmware to flash at least once with a -f flag or PS/avrdude, right? Otherwise you might just be bootlooping the bootloader.)

The wait state sounds about as expected, WaitForFinish() is basically a thread_join that returns when the AVR shuts down. Most o

[2020-07-26 13:39] vintagepc commented on #122
This'd probably go well after #183

[2020-07-26 13:54] vintagepc commented on #183
glut's menu system might be very suited to this task. Maybe start with a menu with everything and later find a way to subdivide it based on what was actually clicked...

https://www.opengl.org/resources/libraries/glut/spec3/node35.html

[2020-07-26 21:09] vintagepc commented on #122
Added these options to the context menu:

![image](https://user-images.githubusercontent.com/53943260/88489544-cd84d280-cf62-11ea-9b60-11dbac371d23.png)

[2020-07-26 21:10] #122 closed

[2020-07-26 21:10] #183 closed

[2020-07-26 21:21] DRracer commented on #12
@vintagepc sorry, my bad, no firmware (parameter -f). Now it runs well, thanks for your hint.

[2020-07-26 21:21] vintagepc commented on #12
No worries. I added a note to the README to that extent, you weren't the first, and won't be the last ;)

[2020-07-27 09:01] wavexx commented on #12
On Sun, Jul 26 2020, DRracer wrote:

I think it would be awesome if possible!

[2020-07-27 09:47] 3d-gussner commented on #12
https://twitter.com/MarlinFirmware/status/1287259911303442432

[2020-07-27 12:41] vintagepc opened #187 "[FEATURE] Alternate visual options"
@gregsaun,expressed interest in alternate (:bear: ) visuals. Probably a feature we'll want to have in order to support other models of printer.

Start thinking about ways we can do this, maybe a model table with offsets rather than reimplementing the entire MK3SGL class for every model.

Maybe acquire a set of Bear visuals in order to facilitate this and see what problems come out of the woodwork

[2020-07-27 14:52] vintagepc commented on #12
Heh, that explains the giant spike in traffic yesterday 😁

[2020-07-27 15:16] sl1pkn07 opened #188 "[BUG] Does not render with nVidia GL drivers."
**Describe the bug**
A clear and concise description of what the bug is. Please make sure you've searched for existing bug reports before creating a new one.

run fail when launch MK404

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Build project with:

cmake 3.18.0
gcc 10.1.0
glew 2.2.0
glu 9.0.1
sdl 1.2.15 (i'm not sure

[2020-07-27 15:30] vintagepc commented on #188
Hm, this looks like an issue with NV-GLX.  I get weirdness using primus/optirun on my hybrid machine too, but mesa is fine.

[2020-07-27 16:19] sl1pkn07 commented on #188
same with 450.56.02

[2020-07-27 16:24] vintagepc commented on #188
🤔 Unfortunately I don't get GLXBadContext, but I get a black window for the LCD section and a weirdly scaled one for the 3d visuals. But the underlying cause is probably the same. I'll dig in tonight.

[2020-07-27 22:02] vintagepc commented on #188
I'm still not sure what's going on here. I'm by no means a GL person, so my best guess is something about the nvidia GL extension or drivers is unhappy. Unfortunately that means figuring this out is going to likely take a good chunk of time

I can't reproduce your exact problem even on a machine with a dedicated 1050 (430) the closest I get is black/blank windows under the nvidia driver. I'm hopef

[2020-07-27 23:07] sl1pkn07 commented on #188
nouveau is no-op for me. i preefer wait

greetings

[2020-07-28 08:28] gregsaun commented on #187
Thank you for have noted my interested :)

I'll be happy to provide everything I can make to help you. You can already download the Bear 2.1 frame in Fusion 360 and STEP format from here: https://github.com/gregsaun/prusa_i3_bear_upgrade/tree/dev/src . The Bear extruder is available from here (same file formats): https://github.com/gregsaun/bear_extruder_and_x_axis/tree/master/source . Note the Be

[2020-07-28 08:30] leptun commented on #187
@vintagepc do you want me to make new OBJ files?

[2020-07-28 10:25] gregsaun commented on #187
If you use the STEP file to make OBJ files make sure to remove the "build helpers". There is one for Y axis and one for Z axis:
![build_helper_01](https://user-images.githubusercontent.com/12335098/88653881-edd0a080-d0cc-11ea-88aa-a6e46a2c6284.jpg)
![build_helper_02](https://user-images.githubusercontent.com/12335098/88653878-ed380a00-d0cc-11ea-8cc3-f32345206981.jpg)

If building OBJ files is just

[2020-07-28 10:28] leptun commented on #187
For the time being I used Solidworks and a plugin to export as that is my main CAD software. I’m doing it like this just so that the output file is consistent.
Also, I had an assembly of the MK3 in Solidworks format and it was easier than using steps. Also, I could split the printer into subassemblies.

[2020-07-28 10:33] gregsaun commented on #187
Okay I see. Unfortunately I use Fusion 360 so STEP is probably best if you want to import to Solidworks.

However, I have just checked and Fusion 360 can export an OBJ. It takes a bit of time but I test it and share it here in case it looks to be good.

[2020-07-28 11:16] vintagepc commented on #187
Unfortunately we've been there before. Maybe you'll have better luck with a paid version if that's what you're using, but when I tried it with the maker license, the OBJs I got did not export materials, and you could not export multiple objects into one.

FreeCAD does support MTL exports but the resulting appearance of the export was dissapointing given the number of triangles. There is a discussi

[2020-07-28 11:32] gregsaun commented on #187
I have the paid license but it looks like the material isn't exported.
![bear_obj_export_test_01](https://user-images.githubusercontent.com/12335098/88660276-b535c480-d0d6-11ea-87b7-b1ca4a42c5b0.jpg)

[2020-07-28 11:35] vintagepc commented on #187
Darn - if you look at the 'Model' button on the left panel, are they all distinct components, or is it just one giant mesh? If the former, it may be possible to manually apply materials. But if it's all the same surface that's not possible. :disappointed:

[2020-07-28 11:40] gregsaun commented on #187
I have individual components yes. I cna share the OBJ and a prepared STEP file. The step file has the material (at least color).

[2020-07-28 11:48] vintagepc commented on #187
That's good - since it's just a text format I could just extract materials from the existing mtl files we have rather than manually migrate the data from the STEP. - the OBJ alone should be enough.

We'll have to see how it goes as a complete assembly, I think it's possible to rework things to handle that. But we might need to split things up into the separate moving components (X, Y, Z) for ease

[2020-07-28 12:01] gregsaun commented on #187
Looks like he has grouped some stuffs together so not sure how it goes. If you like I can create an OBJ for each axis + frame. If that could make things easier.

[2020-07-28 12:12] vintagepc commented on #187
Ah, OK. Lets do that then.

Here are the assemblies we have for the existing model:
- Extruder, minus the two moving inner fan parts (already have separate objs for those to animate them)
- X axis (Z gantry)
- Y axis (minus steel sheet, already separate obj)
- Frame (minus LCD knob, separate obj already).

In order to cut down on the triangle count and file size, you can also hide any internal obj

[2020-07-28 12:18] gregsaun commented on #187
Awesome, I'll prepare that. What about belts (mine have no teeth)?

[2020-07-28 12:21] vintagepc commented on #187
We don't have any for the existing model but if it has no teeth it would look fine just leaving it on in the fixed parent assembly.

[2020-07-28 13:15] gregsaun commented on #187
Here it is :)
[bear21_mk3s_simulator.zip](https://github.com/vintagepc/MK404/files/4988499/bear21_mk3s_simulator.zip)

Thanks for all the hard work, very much appreciated.

[2020-07-28 16:45] vintagepc commented on #187
Thanks, I'll poke at it a bit after work tonight.

[2020-07-28 19:22] vintagepc commented on #188
@leptun @3d-gussner @wavexx could you chime in with what video drivers are on the system you've been using with MK404? Curious to see what data points we have and whether anyone has tried ATI/fglrx or a working nvidia setup.

[2020-07-28 19:25] 3d-gussner commented on #188
I run hyper-v Ubuntu VM not sure what gpu is used. Have a look tomorrow

[2020-07-28 19:49] vintagepc commented on #188
OK, most likely Mesa/software GL then.

[2020-07-28 20:21] wavexx commented on #188
I'm using linux on the iHD Kabylake Intel drivers (kms). This is mesa with dri3 acceleration.

But truth be told, I remember early on I also had similar issues when starting without the fancy graphics triggering a bad context too. There's some timing issue IMHO.

[2020-07-28 20:24] vintagepc commented on #188
OK, sounds like you're probably also using the Mesa stack.

Yeah, in the early stages there was definitely a bad init/setup that got fixed after I did a GL cleanup merge.

But you have a good suggestion that may offer some insight - @sl1pkn07 what happens if you launch with `MK404 -f <firmware file> -g fancy`? Does it still choke?

[2020-07-28 21:48] sl1pkn07 commented on #188
do more things, but finaly crash with same error

[code]

[2020-07-28 22:42] vintagepc commented on #187
This is interesting, the objs do have MTL references:

`mtllib d2b749dc-85a2-4cde-b3fc-98cb260eb702.mtl`

...
`usemtl Aluminum_-_Satin`

Do you perhaps need to download or retrieve them separately? I can't imagine they'd go through all the trouble of handling it and not exposing the materials file.

[2020-07-29 07:05] 3d-gussner commented on #187
I may have found a way to "export" Fusion 360 to obj + mtl.
1. Disable history
2. Convert Body "BRep to Mesh"
3. Save as OBJ

Result:
<name>.obj + <name>.mtl
[Cubes.zip](https://github.com/vintagepc/MK404/files/4993175/Cubes.zip)

Now have to try an assembly.

[2020-07-29 10:09] gregsaun commented on #187
@vintagepc Very happy you like the Bear. Contact me first if you like to build a Bear from scratch ;)

@vintagepc @3d-gussner Oh that is nice, let me redo the export then!

[2020-07-29 10:56] 3d-gussner commented on #187
https://apps.autodesk.com/FUSION/en/Detail/Index?id=161925079138285899&appLang=en&os=Win64 Seams to work. Here an example of a Zaribo:
![image](https://user-images.githubusercontent.com/25530011/88784514-6cdadd00-d190-11ea-85b7-aa043a96114b.png)
![image](https://user-images.githubusercontent.com/25530011/88784625-8da33280-d190-11ea-8093-a49436aa666a.png)

[2020-07-29 11:51] gregsaun commented on #187
Here are the OBJ, I used the proposed @3d-gussner plugin, it
[bear21_mk3s_simulator_02.zip](https://github.com/vintagepc/MK404/files/4994669/bear21_mk3s_simulator_02.zip)
seems to work well.

I made a complete assembly OBJ and also separated axis OBJs.

[2020-07-29 12:07] 3d-gussner commented on #187
![image](https://user-images.githubusercontent.com/25530011/88798171-c947f780-d1a4-11ea-9dd3-e394226b61ce.png)
Looks like some components don't have the correct material ;-)

[2020-07-29 12:17] gregsaun commented on #187
Yeah I save some time with not setting all the material. I have a print settings and BOM for that ;)

[2020-07-29 12:17] vintagepc commented on #187
Let's not get too caught up - the materials are trivial to manipulate, so it's relatively easy to swap one for the other. I can work with what we have, I think, so the time spent trying to get it to export perfectly is probably more than the time for me to just edit the file.  :+1:

I'm working on the model-swapping framework now, once that's in hopefully it's pretty trivial to add the models and

[2020-07-29 12:24] gregsaun commented on #187
If I could avoid to change all materials and redoing a exports, pushing to github source files and so on I would appreciate :D . But if this become a too big work I can figure it out. Why is the type of material important? I mean what is important is to have different material, isn't it?

[2020-07-29 12:40] vintagepc commented on #187
The mtl files that are paired with the OBJ define how the object renders - that is why the material as a whole matters, not just the name. If you look in the .mtl file with a text editor, then you can see that each material has a set of properties that define things like colour, reflectiveness, etc. and these are used directly to set the appearance of the polygons during the render.

It would have

[2020-07-29 12:50] gregsaun commented on #187
Okay that make sense, in this case I prefer to set properly everything in CAD (I don't like to redo stuffs). However, my parameters might be different than the other Prusa you already have in your simulator (but probably closer).

In Fusion 360 there is the appearance and the physical material. Looks like MTL take only the appearance into account, am I correct?

[2020-07-29 12:56] vintagepc commented on #187
Perhaps that is it - unfortunately I cannot say for sure as I haven't dived into the MTL exports from Fusion after our initial failure with the 3S model. We found it just worked from Solidworks so went with that, also since it was the format of the original source we used.

Should be easy to identify though with a simple test model that has two cubes, one with a material and one with an appearance

[2020-07-29 13:17] gregsaun commented on #187
Okay after more testing it does not seem to have trace of physical material from Fusion 360, it only uses appearance. That makes my job a little easier then. Do you still want separated OBJ for all axis or doing a single one is enough for you now that I know how to set things correctly?

[2020-07-29 13:29] vintagepc commented on #187
That's excellent!

I would still prefer separate objects for each axis (essentially, collection of bodies that need to move together, independent of other bodies). It's probably possible to do it with a single OBJ, but I don't think that's very maintainable longer term - it would fall apart pretty quickly if the models changed.

[2020-07-29 13:53] vintagepc opened #189 "[BUG] Missing items in context menu."
There are still a few missing items in the context menu - for example, toggling the steel sheet presence.

Doublecheck all the key commands and add any that are still missing as menu options.

Maybe also review the key options and remove the more obscure ones that are less likely to be used now that the features can be accessed through a menu.

[2020-07-30 01:29] vintagepc commented on #187
Lighting weirdness aside, making progress!

![image](https://user-images.githubusercontent.com/53943260/88870122-8f95e180-d1e2-11ea-9e4f-de896bf4d30d.png)

[2020-07-30 07:48] gregsaun commented on #187
Hu that is some progress! I should share the OBJ with proper material soon ;)

[2020-07-30 13:09] vintagepc commented on #187
I may end up editing the materials slightly at the end, it looks like Fusion only exports a Kd (diffuse) parameter.
This results in a very muted appearance in the object. For example, the knob and SD card (which also have ambient and specular parameters) vs the display housing:

I'll have to dive into the lighting again to see if that's truly the case since it doesn't render as poorly in GLC playe

[2020-07-30 14:11] vintagepc commented on #12
I've enabled a wiki for the project, seems like a useful addition as a place to document technical info as required.

Feel free to add/edit as you see fit, hopefully it will morph into something with a clearer direction as we find uses for it. :)

[2020-07-30 16:06] gregsaun commented on #187
Okay let me know if I can help you in a way. I used the plugin maybe I can try again from Fusion 360 directly if you like.

Here is the export:
[bear21_mk3s_simulator_03.zip](https://github.com/vintagepc/MK404/files/5002396/bear21_mk3s_simulator_03.zip)

I have included a full export in case you need some other parts like the know and fans. Note that the hotend fan in the full assembly has been de

[2020-07-30 16:08] gregsaun commented on #187
Wait, it looks like the extrusion does not have the correct rendering. Let me export it again.

[2020-07-30 16:20] vintagepc commented on #187
Ah, OK - if you are using different fan models/knobs, then feel free to export those models separately too. The outer "shell" of the fan can remain part of the E assembly, I would just need the rotor as a standalone piece because we spin it if the fan is on.

[2020-07-30 16:25] gregsaun commented on #187
Okay I will do that!

[2020-07-30 16:34] gregsaun commented on #187
Okay here you have everything:
[bear21_mk3s_simulator_04.zip](https://github.com/vintagepc/MK404/files/5002564/bear21_mk3s_simulator_04.zip)

I have included two version of the extruder, with and without the hotend fan "outer shell". If it is too much work for you go with the fan and knob you already use.

[2020-07-30 16:44] vintagepc commented on #187
Great. The added work to swap out the model is minimal, the bulk of it just comes from setting up the positioning relative to the model - and that's also fairly minor.

The real bear (heh) is the backend framework, but that's not really an impediment, we need it anyway since the intent is that we'll ultimately support completely different printer "models" which may not even look anything like a MK

[2020-07-30 16:53] gregsaun commented on #187
That all sounds very nice, looking forward to test this :)

[2020-07-30 23:02] vintagepc commented on #187
Whoops- looks like you left the print fan shroud hidden by accident in the E export.

[2020-07-31 06:52] gregsaun commented on #187
This is normal, the shroud is completely different than the Prusa one.

[2020-07-31 13:39] vintagepc commented on #187
Sorry, maybe I'm misunderstanding - I'm referring to the outer housing of the part cooling fan, the 5150 blower.

The hot-end cooling fan shroud is present and accounted for :+1:

Getting close, I now just need to fix the lighting and un-break all the things I broke in the "standard" 3d models 😁

[2020-07-31 17:16] gregsaun commented on #187
Ha sorry, you can reuse the complete print fan you have for Original Prusa for that :). Looking forward to see it!

[2020-08-01 00:59] vintagepc commented on #187
Getting closer, I think I've sorted the lighting.

![image](https://user-images.githubusercontent.com/53943260/89090320-2d6ae700-d370-11ea-96b0-ec88b88f0c56.png)

The motors looking weird is a WIP, I've filed a bug/info request with https://github.com/tinyobjloader/tinyobjloader/issues/279

Part fan shroud is still missing, I need to extract the model from the 3S extruder first.

Hopefully I can w

[2020-08-01 13:19] gregsaun commented on #187
It start to look good! I was wondering how the motors would render due to the material set on faces...

Do you want the print fan shroud without the blades? Mine is one piece normally and has no blade but I can try to remove them for you if you like.

Quick question, I saw you are using a different color for the LCD screen, is there a reason for that? I am asking because I have made an Inkscape SV

[2020-08-01 13:26] vintagepc commented on #187
That particular color combo is easier to read in the 3d graphics. the 2D display/control panel view is blue and white by default:

![image](https://user-images.githubusercontent.com/53943260/89102595-f977dc00-d3d8-11ea-8032-5bf3c1d01617.png)

Also, I'm partial because that's what my real display looks like... :grin:

![image](https://user-images.githubusercontent.com/53943260/89102568-a3a33400-d3d

[2020-08-01 13:28] gregsaun commented on #187
Ok I see, hard to read I agree. I was suspecting you did upgrade the real LCD screen haha :D

[2020-08-01 13:28] vintagepc commented on #187
If you can easily export the shroud sans the center blade, that would save me some time - thanks.

[2020-08-01 13:29] gregsaun commented on #187
I'll do it now

[2020-08-01 13:29] vintagepc commented on #187
I posted a guide on the display mod here:
https://forum.prusaprinters.org/forum/original-prusa-i3-mk3s-mk3-user-mods-octoprint-enclosures-nozzles-.../a-very-much-needed-improvement/

It's not an off-the shelf part or LCD module.

[2020-08-01 13:37] gregsaun commented on #187
Oh that was you, nice!

[2020-08-01 13:42] gregsaun commented on #187
I know I have seen your nickname few times :D

Here is the print fan:
[bear21_mk3s_simulator_print_fan.zip](https://github.com/vintagepc/MK404/files/5010518/bear21_mk3s_simulator_print_fan.zip)

[2020-08-01 13:54] vintagepc commented on #187
It is dangerous to be a man of many skills and with far too much free time... :rofl:

Thanks, will get that shroud in at some point.

[2020-08-01 17:07] gregsaun commented on #187
Oh yeah I know very well what you mean hahaha

[2020-08-01 18:19] vintagepc opened #190 "[BUG] OBJ loader does not handle per face materials"
**Describe the bug**
Since we use lighting and not vertex colours, per-face materials are not working in the 3d visuals.

**To Reproduce**
Look at the bear stepper motors in GLC player vs MK404.

**Screenshots**
see #187

[2020-08-01 18:23] vintagepc commented on #187
I think I've got all the issues ironed out, though I turned the per-face material issue into a separate bug.
`./MK404 -g bear`

[2020-08-02 00:18] #189 closed

[2020-08-02 00:31] vintagepc opened #193 "[FEATURE] Handle window resizing properly"
Yeah... currently it just stretches... either prevent resize or do an aspect ratio scale.

[2020-08-02 13:39] #187 closed

[2020-08-02 13:39] #190 closed

[2020-08-02 15:46] gregsaun commented on #187
Thank you very much!

I tried to launch your latest release and I get this error:
[code]

I have compiled master branch and I can launch it. To compile it successfully I had to add few libraries including the one linked in the error message. However, I have a "printer not found" message on the LCD emulator window.

For information, I am on a VM through virtualbox with fresh Ubuntu installation (mi

[2020-08-02 16:31] vintagepc commented on #188
For my own reference, MVE with the same issue. Works with MESA, black screen with nvidia.
(rename to .cpp)
[example.txt](https://github.com/vintagepc/MK404/files/5012432/example.txt)

[2020-08-02 16:38] vintagepc commented on #187
hmm... what glew version does the system have? I'm using 2.1.0

[2020-08-02 19:49] gregsaun commented on #187
I have 2.1.0 as well. The symbolic links worked: `ln -s /usr/lib/x86_64-linux-gnu/libGLEW.so.2.1.0 /usr/lib/libGLEW.so.2.0` .

[2020-08-02 19:57] vintagepc commented on #187
awesome! :tada:

[2020-08-02 20:02] vintagepc opened #196 "[BUG] Build and CPPcheck scripts fail if working from a third-party repo."
Per title. Fix it.

[2020-08-02 20:25] #193 closed

[2020-08-02 21:09] vintagepc commented on #188
I think I may have found the cause. Apparently freeglut does not like being pushed to a background thread, and doing so causes all kinds of interesting issues.

@sl1pkn07  can you check out and try this branch?
https://github.com/vintagepc/MK404/tree/188-freeglut-threading

if it fixes the issue for you I'll clean it up and merge.

[2020-08-02 22:16] sl1pkn07 commented on #188
![Screenshot_20200803_001546](https://user-images.githubusercontent.com/462213/89133720-81b3c980-d51e-11ea-8916-e9681450fcec.png)

weee

[2020-08-02 22:27] sl1pkn07 commented on #188
also, i have some changes in the CMake Scripts for use SDL2 instead SDL(1) and chech GL, GLUT and GLEW througth CMake
(also use speces instead of tabs)

[code]

is ok for you?, i can send a PR

greetings

[2020-08-02 22:34] vintagepc commented on #188
You would be welcome to submit a PR, but please do not convert tabs to spaces. Preference here is tabs, because I'm firmly in the "tabs can be customized to suit a user's indentation preferences" camp and not the "it should look the same for everyone" camp :wink:

[2020-08-02 22:36] #188 closed

[2020-08-03 14:50] vintagepc commented on #182
Interesting find... despite various attempts and debugging efforts, the command processing seems to stall at a certain point and not process (dequeue) any more lines from the command buffer - even if I extend the WDR cycle count.

For some reason, disabling the WDR, it will hang until after the WDR fires, and then resume processing the queue:
[code]

I wonder if there's an issue somewhere in retri

[2020-08-03 18:05] leptun commented on #182
@vintagepc As luck would have it, I've recently played with a hardware implementation of the SD emulation. I've used an STM32F4 at a reduced SPI clock frequency and I was able to "Print from USB" with small modifications to the SD automaton. There was only one edge case where the simulator had an impossible advantage as it was able to instantly respond with the right message on the same clock cycl

[2020-08-03 18:18] vintagepc commented on #182
iiiiiiiinteresting.I do know the queue is (somewhat) easily corruptbile - pronterface's temperature requests (M107) can get entered as M1s and make the printer pause if they come in just at the right time during MBL or another "busy" state.
This particular issue is also very sensitive to what line it is on, if you shorten the gcode slightly or extend it so M84 is in a different position in the SD

[2020-08-03 20:30] vintagepc commented on #182
OK, I got somewhere further. Seems that the "delay" is not a pause, rather, the printer is busy chewing through the block of comments at the end of the gcode file while trying to refill the command queue - pre-empting it finding the already-enqueued M84 until it's too late.

[2020-08-03 21:44] vintagepc commented on #182
Leaving a breadcrumb... seems to be a large chunk of time between the final data byte from the file and the CRC being sent.
That could be adding up...
![image](https://user-images.githubusercontent.com/53943260/89230299-064f2800-d5b1-11ea-9391-89c31516d5bf.png)

[2020-08-03 22:19] vintagepc commented on #182
I think we have a winner...
`		avr_cycle_timer_register_usec(avr, 100, avr_spi_raise, p); // should be speed dependent`
That's artificially throttling the SPI bus output to something slower than the board is used to - simavr ignores SPCR and SPSR entirely.

[2020-08-03 22:22] vintagepc commented on #182
Closing and creating a separate issue for the SPI sim.

[2020-08-03 22:22] #182 closed

[2020-08-03 22:24] vintagepc opened #199 "[BUG] Simulated SPI ignores SPSR and SPCR"
**Describe the bug**
Per title. This means the SPI runs slower than expected, and therefore we get WDRs on some SD card reads...
#182 #115

**Additional context**
Fix in SimAVR and submit a pull request to upstream.

[2020-08-04 01:55] #196 closed

[2020-08-04 01:55] #199 closed

[2020-08-04 02:00] vintagepc commented on #199
Upstream PR filed:
https://github.com/buserror/simavr/pull/392

[2020-08-04 02:15] vintagepc commented on #182
I did look at your file. Looks like something is causing an overflow and corrupting memory - note the output at the very end:
[code]

[2020-08-04 02:18] vintagepc commented on #182
It is dequeueing every line in the file, so something weird is happening at the end when it runs past the last line.

[2020-08-04 04:28] leptun commented on #182
I’ll look into this file this week. I’m glad that the SD card implementation works correctly now. The only thing I might look into (not really decided at this point) is fixing the impossible advantage I saw in the real hardware. But that’s for later.

[2020-08-04 08:09] 3d-gussner opened #201 "[BUG] Vanilla Marlin for Einsy Rambo not working in MK404 sim."
**Describe the bug**
Got vanilla Marlin for Einsy Rambo kind of working and it can be flashed on a physical printer.
Trying to load the same `hex` file in MK404 doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile https://github.com/3d-gussner/Marlin/tree/MK3s_2.0.x
2. Copy `\.pio\build\rambo\firmware.hex` to your MK404 build folder
3. Start MK404 `/build/MK404 -f fir

[2020-08-04 11:27] vintagepc commented on #201
Have you tried running with `-n` (aka `--no-hacks`)? This is necessary because the TIMSK tweak we need to get the firmware to boot has the opposite effect on stock Marlin.

[2020-08-04 12:30] 3d-gussner commented on #201
Sorry didn't find this issue #117

Solved

[2020-08-04 12:30] #201 closed

[2020-08-04 12:33] vintagepc commented on #201
Not a problem :)

Maybe when I figure out #75 this workaround can go away and both work without it

[2020-08-05 01:11] vintagepc opened #202 "[BUG] Altfan uses unsupported timer mode"
**Describe the bug**
Altfan uses mode 9 on timer 4. This is unsupported by SimAVR.

**To Reproduce**
Steps to reproduce the behavior:
Run altfan firmware with `-vvv`
Observe: `TIMER: avr_timer_write_ocr-4 mode 0 UNSUPPORTED`

**Expected behavior**
A functional mode 9

**Additional context**
Maybe roll this in with a fix for the missing PC PWM mode...?? (#75 )

[2020-08-05 02:41] vintagepc commented on #187
Just an FYI @gregsaun - no affiliation/association with Marlin (re your tweet). We were just fortunate to get featured because we'd invited one of the Marlin devs as an early beta tester. :+1:

[2020-08-05 11:12] gregsaun commented on #187
I was thinking that I was wrong so thanks for clarification, will add a note to the tweet. 👍

[2020-08-05 12:30] vintagepc commented on #201
Good news (also @leptun ) - `--no-hacks` is no longer necessary for Marlin thanks to closing #75.

[2020-08-05 12:31] #75 closed

[2020-08-06 01:19] vintagepc commented on #182
Yes, it's relatively straightforward to toss a couple of  "hang on, busy" commands before the card is ready to supply data. (Research suggests the read latency for a typical SD card can be ~1ms. (I researched this when I was exploring the same, i.e. whether our card was "too good" and preempting the regular processing because it always had data ready)

[2020-08-06 16:13] vintagepc commented on #202
Casually poking at this, it looks like the implementation should be fairly straightforward with existing timer code as reference.
The only thing I'm struggling to understand is how the specific updating of TOV or OCRs is controlled. It's a little clearer in the external clocking function but I can't make heads nor tails of the internal clock configuration for a timer.

![image](https://user-images

[2020-08-07 12:29] bozzzzo opened #205 "[Q+A] Which library provides uart_pty_fifo_write?"
Trying to compile on OSX...

I'm blocked at compiling `uart_pty.cpp` due to undeclared identifiers `uart_pty_fifo_{read|write|isempty|isfull}`.

Where are these suppoed to come from? Google also doesn't know much about them...

[2020-08-07 12:34] bozzzzo commented on #205
Ah, they should come from those macros...

[2020-08-07 12:39] wavexx commented on #205
On Fri, Aug 07 2020, Bozo Dragojevic wrote:

These are part of the source inside uart_pty itself.
Showing the output of cmake and the full build log would help.

[2020-08-07 13:07] vintagepc commented on #205
Correct, they come from `fifo_declare.h` inside SimAVR, which has the `DEFINE_FIFO` and `DECLARE_FIFO` macros.

[2020-08-07 13:18] vintagepc commented on #205
BTW - if you do get a successful OSX build without too many breaking or divergent changes, I'd definitely be interested in adding a CI build/workflow for OSX release binaries. I have no means to continue maintaining or testing it, but I'm hoping things are not too dissimilar between the two systems that it's impossible.

[2020-08-07 15:20] vintagepc commented on #103
I'm going to close this; I have not seen it recur since I made the GL threading fixes in #188 - Makes sense since it wasn't obviously getting stuck in one of our primary serial or AVR threads.

Feel free to re-open if it is observed again.

[2020-08-07 15:20] #103 closed

[2020-08-07 19:49] bozzzzo commented on #205
So, I figured this out, expect a PR soon

[2020-08-07 19:49] #205 closed

[2020-08-07 19:51] vintagepc commented on #205
Nice work!

[2020-08-07 20:42] vintagepc opened #207 "OSX/Cygwin build runners"
Now that @bozzzzo has kindly made changes to enable OSX compiling, add a CI build runner for OSX (and Cygwin) so we can at least keep things compiling on the various platforms.

[2020-08-08 02:20] vintagepc opened #209 "Build runner cleanup"
- [x] 1.  Fix the tag build to be a substep of build.yml, make it include the multi platform binaries.
- [x] 2. Move ref/ to the project wiki and update the build step to commit it there instead.

[2020-08-08 02:34] #207 closed

[2020-08-08 15:00] #209 closed

[2020-08-08 16:19] vintagepc opened #212 "Fix tag builds"
Tag builds currently check out master instead of the tag. (Oops). Fix that.

[2020-08-08 18:58] #212 closed

[2020-08-09 21:23] vintagepc opened #216 "More code cleanup"
Enable more (all?) clang-tidy checks and fix up any warnings generated.

A big task.... do one file at a time with a WIP PR...

[2020-08-10 11:04] leptun opened #218 "[BUG] Broken graphics"
**Describe the bug**
The graphics seem to be broken in the latest master branch. I'm using Prusa_MK3SMMU2 fancy graphics.
Stuff that I can see is broken:
- The bed LED is floating mid-air, but it's working
- One of the MMU motors seems to blink with green graphics on startup sometimes
- The extruder visualizer is turning much too little.

**To Reproduce**
Steps to reproduce the behavior:
`./MK404

[2020-08-10 11:10] vintagepc commented on #218
whoops! probably some side effects from the Bear visuals rework.

[2020-08-10 14:04] leptun commented on #218
Also, just noticed this as well: The backlight is stuck on 100% brightness

[2020-08-10 14:14] vintagepc commented on #218
oh, good. I thought I broke that during my cleanup in #217 ... was scratching my head why.

[2020-08-10 14:15] vintagepc commented on #218
I didn't think the MK3 OBJ files had any per-face colours, but what probably happened is #190 changed the indexing for the objects we show and hide.

[2020-08-11 16:39] 3d-gussner opened #219 "[Q+A] How to add new printer with new board?"
I would like to add the Prusa MK2, MK2.5 and MK2.5S to MK404.
Here is what I think i have to do:

- [x] - add miniRAMBo10a to parts/wiring
- [x] - add miniRAMBo13a with overwrites to parts/wiring
- [x] - add miniRAMBO to parts/boards
- [x] - add A4982 to parts parts/components
- [x] - add Prusa MK2, MK2.5 and MK2.5s to parts/printers
- [ ] - add MK2 frame as obj
- [ ] - add MK2 extruder as obj
- [

[2020-08-11 17:49] bozzzzo opened #220 "[BUG] gitversion: Clean ubutntu install does not have python but has python3"
**Describe the bug**
`cmake` fails with failing to execute `python`

**To Reproduce**
1. cmake ..
[code]
**Expected behavior**
A working build script

**Desktop (please complete the following information):**
Description:	Ubuntu 20.04.1 LTS
Release:	20.04
Codename:	focal

I made a PR https://github.com/smessmer/gitversion/pull/9

[2020-08-11 18:00] vintagepc commented on #220
Nice. We'd probably have hit this once the ubuntu-latest buildrunner becomes 20.04LTS (it's currently still 18).
We'll pull that in once its updated upstream.

[2020-08-11 18:24] vintagepc commented on #219
I think you have  most of the outline right (no need to update the various .md files - those are autogenerated. You only need to add entries to the document generation section to have it create any printer-specific telemetry or scripting documentation.

- You should not need to add anything to MK404.cpp, printer type is all abstracted away into other classes.
- Endstops: I think you could probably

[2020-08-12 06:26] bozzzzo commented on #220
I find it good practice to fork all submodule projects. This allows fixing small stuff like this
before the upstream reacts.

[2020-08-12 13:07] vintagepc commented on #218
Just noticed we're also no longer showing the correct E variant (MMU/std)

[2020-08-12 13:23] vintagepc opened #222 "[BUG] cygwin build broke itself, can no longer find GLEW"
Fun, broke without any changes to the build runner script. 😡

[2020-08-12 17:10] vintagepc commented on #222
[code]

looks like the findGLEW cmake module is broken on Cygwin. the DLLS are in /usr/lib (and it even says "found version 2.10"

[2020-08-12 23:00] vintagepc opened #223 "[BUG] MMU motors moving too fast"
**Describe the bug**

The selector (and possibly other motors) on the MMU are moving too fast. Git bisect shows this is result of changes for #198

[code]

commit d3f6cc44fcb10f93e671f52c30d03b0d614195da
Author: @wavexx
Date:   Tue Aug 4 13:28:49 2020 +0200

    Implement TMC2130 variable resolution support (#198)

    - Also handle CHOPCONF.mres.
    - Introduce helpers to convert from/to step/po

[2020-08-12 23:34] vintagepc commented on #218
Looks like the brightness was broken by https://github.com/vintagepc/simavr/commit/e838af1472e8402f4260e6432cbbe6d6a6fe6a85

Investigating...

[2020-08-13 00:50] #218 closed

[2020-08-13 00:50] #222 closed

[2020-08-13 08:48] wavexx commented on #223
On Thu, Aug 13 2020, vintagepc wrote:

I assigned the default resolution to 16 usteps to match xyz on the MK3,
which is probably wrong for the others.

I'll have a look later on.

[2020-08-13 08:55] leptun commented on #223
@wavexx
[code]

[2020-08-13 10:03] wavexx commented on #220
Hit this as well on debian unstable... uurgh.

[2020-08-13 10:52] vintagepc commented on #220
yeah, looking deeper upstream seems to be stale. I'll fork/merge/whatever at some point.

[2020-08-13 12:58] vintagepc commented on #223
yep, looks like that would explain it ;) Idler behaves fine, Id suspect the pulley also feeds super quickly now too :rofl:
I guess that's one way to speed up your toolchanges....

[2020-08-13 14:51] #220 closed

[2020-08-15 09:30] 3d-gussner commented on #219
Created new branch https://github.com/vintagepc/MK404/tree/miniRAMBo_MK2_MK25_S

[2020-08-15 12:56] vintagepc commented on #219
I had a peek at the A4982 datasheet, seems pretty straightforward to implement. Would you like me to do that? I can start templating out the board and printer too.

[2020-08-15 13:58] vintagepc opened #225 "[FEATURE] Automated tests"
**Is your feature request related to a problem? Please describe.**

Project is getting big enough that it's easy to break things without noticing.

**Describe the solution you'd like**

Automated testing of components...

**Additional context**

Doesn't have to be fancy - I'm thinking a ping-pong firmware approach... e.g. a custom firmware + a script , where they ping pong back and forth exercisin

[2020-08-15 14:45] 3d-gussner commented on #219
It would be great if you could do the stepper driver.

[2020-08-15 15:15] vintagepc commented on #219
Sure thing!
I pushed up a barebones 2.5 1.3 MiniRambo printer, it boots but of course there's not much else in the way of hardware yet:

![image](https://user-images.githubusercontent.com/53943260/90315313-7a11fe80-dee8-11ea-9ed6-653cd477af3f.png)

but that should serve as a starting point for additional variants and expanding the hardware.

[2020-08-15 15:22] vintagepc commented on #219
BTW- I'll add endstop outputs to the driver sim, makes the most sense to have them there.

[2020-08-15 15:47] 3d-gussner commented on #219
Wow you are fast

[2020-08-15 15:52] 3d-gussner commented on #219
I use muniRAMBo_1_0a instead of 1.1b as this is the base in Prusa Firmware.
I couldn't find any schematics for the 1.0a version so I stuck with the Prusa Firmware pins file.

[2020-08-15 15:56] 3d-gussner commented on #219
Does it makes sense to add the MK42 and MK52 beds as components as these are different.
- MK42 is 12V and has 9 calibration points at slightly different locations compared to the MK52
- MK52 is available in 12 and 24V

[2020-08-15 16:03] vintagepc commented on #219
Ah, ok. I just renamed the header because the internal class name differed from the filename, and d I saw the notes about 1.0 not having LCD headers. (so I assumed the filename was what was incorrect). Feel free to correct.

I don't think the bed voltages impact the simulation and necessitates separate parts - but we would want to account for this in the PINDA, where the calibration magic happens.

[2020-08-15 17:17] vintagepc commented on #219
One driver sim pushed :tada:

[2020-08-15 17:22] vintagepc commented on #219
... Or not, just added the thermistors and it doesn't step. womp womp :rofl:

[2020-08-15 17:34] 3d-gussner commented on #219
The existing PINDA could be renamed to PINDAv2 and for the MK2 PINDAv1 we just exclude the thermistor, or not?

[2020-08-15 17:40] vintagepc commented on #219
You could just use the existing one as-is, the thermistor isn't built into the fake PINDA

[2020-08-15 18:04] 3d-gussner commented on #219
SIM PINDA is better than fake😉

[2020-08-15 18:05] vintagepc commented on #219
sounds like you've had to deal with some fake ones in the wild :smile:

[2020-08-15 18:52] vintagepc commented on #219
d'oh... I have the pins backwards... driver inputs were connected as outputs.

You're right, fake parts are terrible! :stuck_out_tongue_closed_eyes:

[2020-08-15 21:40] vintagepc commented on #216
Kind of blocked, I'd rather have #225 in place before I merge something this sweeping...

[2020-08-16 20:41] vintagepc commented on #225
I have a framework in place for making simple component tests out of a script and some lightweight firmware.
I'll try to add some more in the coming days but anyone else is welcome to contribute a test for a component :smile:

[2020-08-21 22:59] vintagepc opened #227 "[BUG] PWM2 on OCxC is janky"
**Describe the bug**
Setting PWM on a PWM2 IRQ (OCxC) seems to cause the digital pin to constantly get toggled instead of just the PWM value being reported from OCRx.

**To Reproduce**
Steps to reproduce the behavior:
Use the fan tests in the automated test branch, and wire it to OC4C (Pin 8). Update test code accordingly.
Enable debug output for the fan and observe when PWM is set to 128:

[code]

[2020-08-24 22:34] #225 closed

[2020-08-29 15:07] #216 closed

[2020-08-29 16:30] vintagepc commented on #227
Non-issue, there was a stray SBI call that configured the timer to set/clear on compare causing this.

[2020-08-29 16:30] #227 closed

[2020-08-29 17:37] #134 closed

[2020-08-29 20:40] #223 closed

[2020-08-29 22:54] wavexx commented on #223
On Sat, Aug 29 2020, vintagepc wrote:

Damn, feel bad for not having worked on this!
But the fix is better than what I had in mind =)

[2020-08-29 23:27] vintagepc commented on #223
NP, it happens :)

I took some inspiration from the way we handle this for the A4982s.

[2020-08-29 23:31] vintagepc commented on #219
I've pulled in improvements from master.

... How does the mk2.5 fan check work? The fans are two wire, yet the firmware has a TACH pin defined that runs to pin 30 (X MAX)

[2020-08-30 05:50] 3d-gussner commented on #219
Sorry, was busy with other things and you found it.

[2020-08-30 14:10] vintagepc commented on #219
Seems to work for the most part but XYZ cal fails with no obvious error (progresses through all 4 points)

[2020-08-30 20:35] vintagepc opened #230 "[FEATURE] Expand testing"
**Describe the solution you'd like**
Expand the automated testing to cover more of the code.

Just start simple with something that runs on a system with GL, deal with the headless build runners later... PPM seems like a nice convenient format.

It should:

- exercise the GL draw code
AND
- take snapshots?
- Compare them to a reference?
OR
- Inspect key pixels to make sure the visual looks like it

[2020-09-01 21:54] thinkyhead opened #232 "[BUG] Mac binary (0.9.4) fails to launch"
**Describe the bug**

When attempting to launch the macOS binary the following error is produced:
[code]

The `/usr/local/opt/glew/lib` path seems pretty strange.

**To Reproduce**

1. Open Terminal and `cd` to the `MK404-v0.9.4` folder
2. Use `chmod ug+x MK404_OSX` to make the macOS binary executable.
3. Right click on `MK404_OSX` in the Finder and choose 'Open'
4. Authorize the binary to run on

[2020-09-01 22:03] vintagepc commented on #232
Thanks for the report. I suspect that may be a difference between our build runner config and your machine having the libraries in different paths.

Alas I do not have a machine to test and debug changes or set up .app packaging, so what I can do to resolve this is severely limited.

[2020-09-02 22:18] vintagepc commented on #230
Looks like EGL is required to run headless on the build server without opening a window... GLUT needs one.

[2020-09-07 12:46] pkg2000 opened #233 "Failing XYZ calibration[BUG?]"
Good day, and thank you for reading. Awesome project, but I am having some issues. After getting it up and running, clearing the Selftest, the XYZ calibrations are consistently failing on the 1 of 4. After a little bit of spiraling, I get the following lines (screenshot below) saying something about the buffer, and then it starts feeding me very specific nonsense (4848484848484848.....). Been look

[2020-09-07 12:51] vintagepc commented on #233
Hi here!

Sounds like a simple oversight - it looks like you forgot to "remove" the virtual steel sheet before doing the calibration.

You can do this by pushing the `y` key, or using the middle-click context menu.

(The wall of `48`s is a visual representation of what the PINDA is seeing, when the sheet is on it's going to be mostly level, but if the sheet is off, it should be mostly zeros with a

[2020-09-07 12:51] leptun commented on #233
The `sizeof()` are not important. It's simply debug info that in my opinion is absolutely useless...

As for the 484848484848.... That is the level at which the probe triggered when it was scanning for the bed point.
It can mean 2 things:
- You forgot to "remove the sheet from the bed", hence why it's so level and without the point to find. Keybind is `Y`
- Some regression in code

[2020-09-07 12:53] vintagepc commented on #233
Not ruling out a regression entirely, but I do know it was working recently while I was busy on the MK2.5 implementation :)

[2020-09-07 12:54] leptun commented on #233
That's why I put the "forgot to remove sheet" first. :)
The timing of your comment was perfect. I commented and then yours appeared on top of mine

[2020-09-07 12:55] vintagepc commented on #233
And now you know why my avatar is a ninja tux :rofl:

[2020-09-07 12:58] pkg2000 commented on #233
Aaah. Thank you for all of your responses. That makes very much sense from my experience with the IRL machine. Hit "no" when it asked, but I of course have to take it off as well;) Currently not using the fancy graphics either as it ate the little cpu I could give the VM. Thank you. Will confirm in a bit.

[2020-09-07 13:03] vintagepc commented on #233
You might have more luck with `-g lite` which renders only the minimal functional parts - bed + sheet, nozzle, fans,  and a few other components.
It shouldn't perform too badly with even minimal software rendering - but you might want to double check the graphics settings. Many VM tools offer the ability to assign graphics memory and limited 3d acceleration support.

While not actively maintained,

[2020-09-07 13:11] pkg2000 commented on #233
Yeah, was indeed the sheet. Thank you! I will give -g lite a go, and also try to tick of 3d hardware (was an option), but this laptop is part potato anyhow. Will give cygwin a try, but wanted to run it in what you guys were running and read your disclaimer regarding other platforms. Again, thanks a bunch!

[2020-09-07 13:14] vintagepc commented on #233
Excellent, good to hear you're all set.

(FWIW I'm on a laptop from 2013 and using the integrated graphics for my dev activities)

[2020-09-07 13:14] #233 closed

[2020-09-11 16:14] leptun opened #234 "[BUG] Serial is broken"
In the latest master branch you can't use the -s option anymore. It starts the /dev/pts/2|3 as usual, but the /tmp/simavr-uart* symlink is incorrect.
Differences I noticed: Instead of simavr-uart0|2, you get simavr-uart48|50. These symlinks also are not deleted after the ports are closed. Reverting to v0.9.3 fixed the issue.

[2020-09-11 16:21] vintagepc commented on #234
crap, I'll take a look after work.

[2020-09-11 21:34] vintagepc commented on #234
There was a malformed link name. Looking at the code, it's never cleaned it up after quitting.

Fixing the symlink name appears to have fixed the communication, I can connect to /tmp/simavr-uart0 without issue.

[2020-09-11 21:35] #234 closed

[2020-09-12 11:23] leptun opened #235 "[Q+A] Build documentation"
Not sure if I'm just blind, but I was not able to see which packages were needed for a complete build from scratch. I had to go to the build task for github to see exactly which packages needed to be installed. In any case, is there any documentation on what is needed? I know that at some point it was in a special file in the root of this repository, but now it's gone.

Btw, do you use vscode for

[2020-09-12 12:50] vintagepc commented on #235
Yes - I moved the various READMEs and other details to the project Wiki:

https://github.com/vintagepc/MK404/wiki/Supported-Operating-Systems

I do use VSCode too, but really only with the cmake and C++ extensions. But there's definitely a case for that if we find more obscure but useful extensions for working on the project.

[2020-09-12 15:34] leptun commented on #235
Ok. Thanks for letting me know where it was moved. Closing this now

[2020-09-12 15:34] #235 closed

[2020-09-12 16:17] vintagepc commented on #235
No problem

[2020-09-12 20:05] vintagepc commented on #230
@DRracer This one (and the upcoming associated PR, #231) should be of particular interest to you, it adds and makes use of _extensive_ scripting and verification capability for components, telemetry, and tests. So while it serves as unit tests for the simulator, it should be more than suited to automated evaluation of firmware behaviour prior to release!

[2020-09-12 21:21] DRracer commented on #230
@vintagepc well done, making a note for the upcoming FW release - we'll try it. Thanks for notifying me.

[2020-09-13 10:53] leptun opened #236 "[BUG] Backlight regression"
**Describe the bug**
The backlight colouring is broken. Not sure if it is a rendering issue or if the wrong values are extracted from the timer output.
Was there any recent change to the timers? I think you added an unsupported mode recently.

**To Reproduce**
Steps to reproduce the behavior:
Set backlight in firmware to different values and enhoy the show

**Screenshots**
![image](https://user-im

[2020-09-13 11:40] vintagepc commented on #236
Huh, that's a weird one. This backlight breaking seems to be becoming rather trite in this project :laughing:

I remember seeing something similar but with red after I had been changing the glClearColor to debug the "black screen on nVidia cards" issue. So I think it's a transparency/alpha problem and we're just showing whatever happens to be behind the display.

[2020-09-13 11:43] leptun commented on #236
This is on a different computer than with my previous setup. It’s very possible to be an nvidia only issue. This is the only card in the system.
On the other one I have both integrted graphics (main) and dedicated nvidia.

Not sure if it influences anything, but I also use a different ubuntu version than on the other setup.

[2020-09-13 12:57] vintagepc commented on #236
Nope, I found the issue, I messed up the colour scaling calculation and was dividing by the PWM (0-1.0f) instead of multiplying by it to get the new RGBA quad.

You get a very interesting occurrence if you increment it by values of one and it changes drastically from screen to screen XD

[2020-09-13 13:58] #230 closed

[2020-09-13 13:58] #236 closed

[2020-09-13 15:49] vintagepc commented on #12
Welp, I posted about it in the forums.
Time to brace for the masses :rofl:

[2020-09-14 12:57] vintagepc opened #237 "[IMPROVEMENT] No more code in .h files"
**Is your feature request related to a problem? Please describe.**

Move code out of .h files

**Describe the solution you'd like**
Some base class .h files have grown and have a lot of actual code in them, which means  everything recompiles when you edit them. Move all the functions into proper .cpp files.

This will probably also increase compile speed slightly.

- [x] parts/I2CPeripheral.h
- [x

[2020-09-14 23:32] vintagepc commented on #219
Fixed XY cal, added buzzer and PINDA thermistor.

I believe the updates/models are as follows, correct?

MK2/S->MK2.5: Heatbed, noctua fans, PAT laser sensor, PINDA upgrade.
MK2.5->S: Extruder parts + IR sensor

Alas there doesn't seem to be historical info as to the MK2->/S variant.

[2020-09-15 03:31] leptun commented on #219
Mk2 to S upgrade I think was just with better rods and U-bolts for the bed instead of zip-ties

[2020-09-15 11:49] vintagepc commented on #219
That would explain why I couldn't find anything on the electronics changes :)

[2020-09-15 13:06] vintagepc commented on #219
Apparently the 360 views on the site can be exported to F360 (and from there to obj/mtl). I don't think it's the case, but were there ever such pages for the MK2 line?

[2020-09-16 02:31] vintagepc commented on #219
I got a little too deep into this last night... :rofl:

![image](https://user-images.githubusercontent.com/53943260/93284961-d2674500-f7a1-11ea-8376-05533edf075e.png)

![image](https://user-images.githubusercontent.com/53943260/93285525-11e26100-f7a3-11ea-8ec1-2b8d1a9f397b.png)

Pushed up initial files for the full compliment of miniRambo 1.3a based printers. Yes, that includes the MK1 and MK2MMU.

[2020-09-16 04:13] leptun commented on #219
I think the MK1 has the old red bed with glass on top. Not sure about dimensions, but they might be different

[2020-09-16 11:31] vintagepc commented on #219
They are, I just didn't note that above :+1:

[2020-09-16 15:59] vintagepc opened #238 "[IMPROVEMENT] Key handler registration"
**Is your feature request related to a problem? Please describe.**
Allow components to register a key handler with the board or printer. This will eliminate a lot of copy-paste code and branching due to e.g. toggling fsensors - each printer will automatically get the key interactions from the components it has, much like the way the context menu works.

**Additional notes:**
Add doc generation for

[2020-09-17 00:36] vintagepc commented on #219
MK2 XYcal fixed, MMU1 implemented better.

[2020-09-17 07:04] leptun opened #239 "[FEATURE] Make the filament loaded on startup"
**Is your feature request related to a problem? Please describe.**
I always forget to load the filament on startup before starting a test print and more often than not I end up doing a filament swap at the beginning of the print.

**Describe the solution you'd like**
Please make the filament to be loaded on startup or add an extra flag for that.

[2020-09-17 08:23] 3d-gussner commented on #114
It would be great if we could also simulate the extrusion width like gcode.ws or PrusaSlicer 2.3-devel does.
![image](https://user-images.githubusercontent.com/25530011/93439808-46533b80-f8cf-11ea-91cd-a32a3f5b4fd1.png)
![image](https://user-images.githubusercontent.com/25530011/93440475-be216600-f8cf-11ea-9607-465fc41a88de.png)

@DRracer quote:
yes please do and make it work after 0.1mm segments

[2020-09-17 08:24] 3d-gussner commented on #114
Here a link https://github.com/hudbrog/gCodeViewer

[2020-09-17 11:25] vintagepc commented on #114
Yes, that's the entire reason this issue is still open. I definitely want to do it and the time is probably soon now that most other major functional development has slowed.

It's not a straightforward openGL thing to draw a "pipe" to create a 3d line. I think the best option for doing this is a geometry shader of some kind to turn raw line segments into a 3D entity.

[2020-09-17 11:26] vintagepc commented on #239
Can definitely do that.

[2020-09-17 12:29] #239 closed

[2020-09-17 13:26] leptun commented on #239
@vintagepc Thanks!

[2020-09-17 13:29] vintagepc commented on #239
You're welcome... it's bitten me a few time before too but I just never got around to doing something about it... ;-)

[2020-09-19 16:59] #238 closed

[2020-09-19 17:53] vintagepc commented on #219
I think I'm going to merge these printers in as-is and leave the 3D visuals for a separate issue, they're far enough along I don't think we want to hold them back for that.

Going to start working on tests for the new components and printers with a draft PR to follow.

[2020-09-21 12:01] DRracer commented on #114
@vintagepc as a first approach, even if you do it like PrusaSlicer - draw a 8-triangle piece of tube simulating the mass of filament being extracted - would greatly help. We do not need to render millions of triangles for debugging, we need just a few.

[2020-09-21 12:14] vintagepc commented on #114
@DRracer I'll see what I can do.... :+1: :smile:

[2020-09-23 00:17] vintagepc commented on #114
oof.. my head hurts from the geometry calculations for this. gcode.ws doesn't have a functional example, it only uses line widths. But linewidths>1 pixel are not guaranteed in openGL, and of course we want "virtual mm" not pixels.
So I need to offset the line in the XY plane.

Seems trivial... but it's not.

I tried poking through the PS gcode but there's too much noise. Perhaps someone familiar w

[2020-09-23 01:14] vintagepc commented on #114
https://github.com/linas/glextrusion might be useful

[2020-09-23 06:02] DRracer commented on #114
@vintagepc if I had to solve this problem, I'd take the line segment as a normal vector for planes at each of its ends. In these planes I'd compute the positions of 4 points which will serve as the box/cylinder's base/top. And then just render the 8 triangles inbetween...
I know there will be cracks - i.e. the cylinders/boxes's points will not follow each other in case of turn segments etc. But fo

[2020-09-23 12:59] vintagepc commented on #114
Yes - though I'm trying to find a way to do a continuous tesselation rather than having to start/stop triangle strips for every extrusion. I'd actually gotten something working with an existing pipe extrusion sample, but it didn't handle the winding changes well; you'd get places where the default normal would flip to the other side of the polyline and the exrusion would go hourglass-shaped.

I ha

[2020-09-24 01:54] vintagepc commented on #114
Making progress... Now I just need to sort out the width calculations based on E movements...

![image](https://user-images.githubusercontent.com/53943260/94091858-585d3e80-fde7-11ea-958a-383c7a17d156.png)

[2020-09-25 02:20] vintagepc commented on #114
Starting to look pretty good!

![image](https://user-images.githubusercontent.com/53943260/94217729-bb66d800-feb0-11ea-81c8-71e17988b68f.png)

Remaining TODOs:

- [ ] Known issue with corners and very short extrusions with high E impulses causing spikes.
- [ ] Variable width co-linear extrusions are not shown; they're treated as a single extrusion. (just need to include E rate as part of the co-li

[2020-09-25 11:05] DRracer commented on #114
TODO issue #2 is the most important one - ideally chop the single extrusion segment into 0.1mm slices and visualize extrusion thickness in each piece separately. With enough scale (probably including some coloring) this will enable us to see, if the firmware stepping is correct. If yes, the vertical fine artefacts must be caused by the TMC and or HW.

If caused by TMC, we could simulate its behavi

[2020-09-25 11:46] vintagepc commented on #114
That's one way; I'd planned to just add the E distance as a second triangle area calculation to determine if the volume:distance was changing. I don't think it'd be too hard to try both to see which is better.

Re: VFAs, I assume you're referring to the salmon-skin texture we see on the MK3 and discussed in that 50-page megathread? From what I recall the origin was concluded to be non-uniformity o

[2020-09-25 11:59] DRracer commented on #114
@vintagepc EXACTLY ... if we even simulate a bad motor and see similar salmon-skin effect in the simulation, we can start preparing counter measures.

[2020-09-25 12:03] vintagepc commented on #114
That would be icing on a cake indeed!

Somewhat related: Funnily enough I've started seeing one on the E-cycle again on my own printer; I suspect it's because the 3d-printed gear in my extruder is actually flexing and off-center.... One of these days I'll get around to reprinting it out of ABS or something less flexible...

[2020-09-25 12:08] DRracer commented on #114
I'm really looking forward to this visualization, there have been so many theories around, but no-one (AFAIK) ever tried to verify, that the FW is sending the pulses correctly. If we can rule out FW, we may start tackling the TMC and the potentially bad motors.
Moreover - with LA15, the acceleration artefacts are stronger - that must be visible as well.

[2020-09-25 12:18] vintagepc commented on #114
Yes, it's easy to latch on to a plausible explanation with relatively minimal supporting evidence. A prime example was the common adage that the MK3's Einsy was "overloaded" and could not handle higher X/Y stepping rates and result in lost steps. And we know how that turned out with https://github.com/prusa3d/Prusa-Firmware/pull/2792 completely invalidating that. (I'm rocking 0.9 degree steppers a

[2020-09-25 12:20] DRracer commented on #114
There is also a video showing a motor from MINI being driven by a Duet board - and while the motor is purring in the MINI, it is rotation absolutely smoothly with the Duet board ... we are doing something wrong and I'd love to find out what it is.

[2020-09-25 12:41] vintagepc commented on #114
Fascinating!

I think we'll be able to make good use of @wavexx 's colour interpolation to colour by E-width...

[2020-09-25 12:52] vintagepc commented on #114
well that was .... interesting. I think we may be hitting the discretization limit of the motion tracking though. And my framrate absolutely tanked after a single layer of a 25x25 square :rofl:

![image](https://user-images.githubusercontent.com/53943260/94269031-1548bb80-ff0c-11ea-93a3-04dc2219f8d1.png)

![image](https://user-images.githubusercontent.com/53943260/94269223-5d67de00-ff0c-11ea-833e-

[2020-09-25 16:38] DRracer commented on #114
@vintagepc great progress - make longer segments (or configurable length of individual segments). For this to work we don't need a 20cm high object, a single line with acceleration and deceleration would be enough - just make sure the extrusion per millimeter is exact. I see some repeating patterns even now, but that's probably too early to judge.

[2020-09-26 15:13] vintagepc commented on #114
So after rewriting much of the print visualizer to work in absolute motor step units rather than floats, it turns out that pattern is not discretization of the positions/float error on my part. It's the actual stepper resolution we're seeing:

[code]

In other words, sometimes X gets in 3 steps, other times 2 for the same E volume.

_Arbitrary musings on the subject:_

That actually makes a lot of

[2020-09-26 15:36] wavexx commented on #114
Yeah, these are implicit with bresenham. The "correctly sampled" axis is always the fastest moving during the current move.

You can simulate the effect of higher sampling rates using higher microstep counts now that they work correctly (essentially giving you the same effect as ADAPTIVE_STEP_SMOOTHING) which will reduce the difference between the effective and real pulse speed.

I didn't see the

[2020-09-26 15:42] vintagepc commented on #114
Interesting... what motors did you go with?

[2020-09-26 16:09] wavexx commented on #114
On Sat, Sep 26 2020, vintagepc wrote:

I still kept stock 1.8 everywhere for greater torque/speed. I was using
a 0.9 (an LDO coolstep mounted on a BMG) on the extruder for a while,
but I also reverted that a month ago to the stock BMG with a random 1.8
(so from 824 to 412 e-steps) to get greater acceleration when I noticed
that retractions were a limiting factor. E-jerk is also something I need
to

[2020-09-26 16:13] leptun commented on #114
Why would you want a low inductance motor? Doesn’t it have lower torque (especially at speed)?
I also noticed that lower inductance motors play better with the tmc2209 drivers compared to the stock prusa ones, but it’s still not great.

[2020-09-26 16:15] wavexx commented on #114
The idea was really to get rid of the banding ignoring everything else. It's definitely not a choice I would do today ;)

[2020-09-26 16:17] vintagepc commented on #114
Interesting. I've got my 0.9s on X/Y. Stock firmware, no changes to limits/speeds. I have mostly run in power mode but as of the "high speed deceleration fix" I've done a few prints in stealth mode and also no longer had the layer shifting I observed there before. But it's a small sample size so not conclusive.

[2020-09-26 16:22] wavexx commented on #114
Now that we fixed the deceleration bug we can go pretty fast, but acceleration (torque) is everything to actually save some printing time. I'll plop this here:

https://www.thregr.org/~wavexx/tmp/VID_20200920_191805_r.mp4

[2020-09-26 16:38] vintagepc commented on #114
those poor stepper drivers :rofl:

Colour-by-width is live!
![image](https://user-images.githubusercontent.com/53943260/94345609-20c3e180-fff5-11ea-8074-0bc6936cd7f5.png)

[2020-09-26 16:56] vintagepc commented on #114
I've pushed it all up to https://github.com/vintagepc/MK404/tree/114-Extrusion-visualization-take-2

I think the only thing still missing is the Z layer height detection.

[2020-09-26 18:03] #219 closed

[2020-09-26 18:05] vintagepc opened #243 "[ENHANCEMENT] 3D visuals for miniRambo printers"
This is a continuation of #219.

Now that the base printers are in, we will need to source and add some models for them. We might end up needing to model them ourselves in a CAD Program using the part STLs and other components.

[2020-09-26 18:09] vintagepc commented on #219
New follow-on issue for the 3d components is #243

[2020-09-26 20:32] vintagepc commented on #114
Added - Extreme MBL is likely to mess with it but it appears to get a reasonable guess of the layer Z height based on the segment average Z.

Also set the minimum segment size to 0.4mm for non-highres mode.

[2020-09-27 00:54] vintagepc opened #246 "[FEATURE] GL Performance"
**Is your feature request related to a problem? Please describe.**

GL performance is acceptable, but I feel it could probably be better. Look into the framerate and see what could be done to improve it.

[2020-09-27 09:46] wavexx opened #247 "[BUG] simavr cmake integration suboptimal"
**Describe the bug**
Perhaps unexpectedly simavr still builds object files inside the source tree (3rdParty/simavr/obj-*) even when building off-tree.

Not a huge problem, but the main gotcha is that a build can become stale in a few situations.
Also, the `clean` target doesn't actually remove these.

**To Reproduce**
Run cmake outside of the source tree and make.
A subdirectory will suffice:

[co

[2020-09-27 11:47] vintagepc commented on #247
The in-source building is an explicit external_project config:
https://cmake.org/cmake/help/latest/module/ExternalProject.html

I enabled that for one reason or another - I think it had something to do with the way it generates its object structure.
But we do also have BUILD_ALWAYS enabled, which should prevent update issues:
[code]

[code]

I suppose the better thing to do is make a CMakeLists.tx

[2020-09-27 12:03] wavexx opened #248 "[BUG] PAT9125 not detected in hardware I2C mode"
**Describe the bug**
The SCL/SDA irqs do not seem to be generated when the PAT9125 is used with the HW TWI, causing the simulated PAT9125 to be non-responsive.

**To Reproduce**
Attaching an MK3 FW with https://github.com/prusa3d/Prusa-Firmware/pull/2814 merged:

[Firmware.ino.zip](https://github.com/vintagepc/MK404/files/5288227/Firmware.ino.zip)

[2020-09-27 12:32] vintagepc commented on #248
Derp. Someone even left me a nice TODO... :rofl:
[code]

[2020-09-27 12:39] wavexx commented on #248
I noticed that, but I'm curious now. shouldn't the SDA/SCL pins still trigger an irq irregardless?
I guess the TWI module doesn't do that.

[2020-09-27 12:51] vintagepc commented on #248
Yeah, SimAVR doesn't do that for most cases - for example, the digital pin IRQ does not toggle if it is in PWM mode.

I just need to wire up the official I2C IRQs to the message receiver and call the shared get/set reg value methods.

[2020-09-27 12:51] DRracer commented on #114
@vintagepc very interesting results! I'm thinking about plugging-in some microstepping curve like explained in this article:
https://hackaday.com/2016/08/29/how-accurate-is-microstepping-really/

Probably we can then see similar larger scale artefacts like we observe on physical prints.

[2020-09-27 13:14] vintagepc commented on #114
Interesting. We don't simulate/see sub-step positional changes since we operate at the native printer "step" resolution. But there should be ways to work around that either through modification of the values received or altering how things are drawn slightly to approximate such a curve.

[2020-09-27 13:18] vintagepc commented on #246
This is a fairly complex issue. There are a few places we can eliminate unneeded glBegin/glEnd calls for performance (LCD is a big culprit...) but longer term these direct mode calls have been deprecated and we'd need to look towards more modern GL implementations using shaders, which is a complete drawing architecture redesign.

[2020-09-27 13:40] DRracer commented on #114
@vintagepc we now can simply recompute the real movement through that curve, I wouldn't complicate it too much. Right now you assume the motor and stepper are behaving linearly and compute the extrusion amount based on the. Just plug in some curve like that and recalculate the extrusion amount (and/or real x-y position).

[2020-09-27 13:46] vintagepc commented on #114
I think we're saying the same thing, or at least something that has the same net effect :)

[2020-09-27 15:01] vintagepc commented on #248
Hmm... not quite so simple. I've prototyped it in and get the message/send an ACK but it doesn't appear to make it through to the firmware - it never attempts to read the device register to get the PID/VID.

[2020-09-27 15:20] wavexx commented on #248
On Sun, Sep 27 2020, vintagepc wrote:

Is there something I can build for testing too?

[2020-09-27 15:48] vintagepc commented on #248
So far I see the TWI library in the Prusa FW is expecting to see TW_MT_SLA_ACK (0x18) but based on code inspection/stepping the status register is ending up at 0x28 (TW_MT_DATA_ACK). Not sure why yet. A build that dumps TWI status over serial might be useful to figure out what the firmware is seeing vs what it expects.

If you'd like to take a look or poke at this, I pushed up https://github.com/v

[2020-09-27 16:22] wavexx commented on #248
On Sun, Sep 27 2020, vintagepc wrote:

So this stops already at the first read of the PID1 register when the FW
is about to transmit the register address.

Although I'm running this on the real thing, I don't exclude FW quirks
here as well which is why I'm all ears :P

I don't think I can do this today anymore though

[2020-09-27 16:24] vintagepc commented on #248
Of course; I know we all have different amounts of time we can commit to the project.

I'll keep looking.

[2020-09-27 16:52] wavexx commented on #248
On Sun, Sep 27 2020, vintagepc wrote:

Mostly because I'm chasing another bug already =)

[2020-09-27 17:46] vintagepc commented on #248
aha, it's a similar issue to what we had with the SD card's SPI bus.
The simulation doesn't handle faster clock rates, so by the time the status register is updated, we've already checked it in `pat_probe` and it's too late.

[code]

[2020-09-27 19:25] wavexx commented on #248
On Sun, Sep 27 2020, vintagepc wrote:

Ha. So it should work if I reduce the twi clock speed to 100khz for
example? That's easy to test.

[2020-09-27 19:41] vintagepc commented on #248
In theory - but there also seems to be a read/write handling problem in the ACK types. I have some local modifications to do the same and while it now communicates something is still wrong with the writes.

[2020-09-27 20:05] vintagepc commented on #248
... so this doesn't make sense.
in PAT9125.c when doing a write:

[code]

.. you're not actually providing any data to be written.

[2020-09-28 01:10] vintagepc commented on #247
Yes - I just checked, simavr doesn't build if we try to build out-of-source.

Would it help alleviate the issue if I add a custom convenience target to clean simavr?

e.g. `make clean-simavr` and/or `make clean-all` ?

[2020-09-28 10:04] thinkyhead commented on #232
The `/opt/local` folder is used by the MacPorts package manager, and possibly others. Homebrew may also use `/opt/local`. Custom installs can go into `/usr/local` as with other versions of BSD UNIX.

I don't use HomeBrew. I do use MacPorts.

However, the correct way to install dependencies on macOS is to compile shared code down to an `.a` library file and optionally package the library the form o

[2020-09-28 13:13] #237 closed

[2020-09-28 14:15] vintagepc commented on #232
Thanks for the explanation/clarifications. Hopefully it will be possible to address this in the future. :+1:

[2020-09-28 19:24] leptun opened #249 "[BUG] SD target broken"
I think the sd card target is currently broken in the latest master (or at the very least the latest master this morning). It generates an outdated output filename for the sd card image file.
Instead of Prusa_MK3S_SDcard.bin it generates Einsy_mega2560_sdcard.bin (or something like that. Writing these names from memory). I have to manually rename the generated file for the specific printer hardwar

[2020-09-28 19:50] vintagepc commented on #249
Oops, yeah... forgot about that when I changed it so each printer has its own SD card and storage files.

[2020-09-28 22:33] vintagepc commented on #248
Can confirm HW TWI works if hacked around, but blocked pending a clean resolution in https://github.com/buserror/simavr/issues/137

(and the associated upstream PR, https://github.com/buserror/simavr/pull/401

[2020-09-29 02:36] vintagepc commented on #249
![image](https://user-images.githubusercontent.com/53943260/94506289-03506c80-01db-11eb-96ab-c581eff8a938.png)

PR pending, I've got it auto-generating a list of printer SD card targets in CMake now.

[2020-09-29 21:07] #247 closed

[2020-09-29 21:56] wavexx commented on #247
On Mon, Sep 28 2020, vintagepc wrote:

That would be more than enough IMHO.
I think adding custom a simavr build is overkill.

[2020-09-29 21:58] vintagepc commented on #247
Great- that should already be in master now

[2020-09-29 23:45] vintagepc commented on #248
I'm picking in the changes that work for us; will re-visit once the upstream discussion is resolved or we have additional hardware TWI components that indicate the fix is flawed.

[2020-09-30 11:37] #248 closed

[2020-09-30 13:12] 3d-gussner commented on #249
Still broken as it builds the SD cards but with wrong name:
`SD card image (Prusa_MK25S_13_SDcard.bin) could not be mounted (error -1 ).`
but it created `Prusa_MK25S_mR13_SDcard.bin`

[2020-09-30 13:14] 3d-gussner opened #252 "[BUG] Prusa_MK25 and Prusa_MK25S bed temp rises without any reason"
**Describe the bug**
After starting the MK25 or MK25S the bed temp starts rising without any reason.

**To Reproduce**
Steps to reproduce the behavior:
1. start./ MK404 Prusa_MK25_mR13 -f (3.9.1 hex file)
2. Watch the Bed temp on LCD
3. Starting the base model MK2 doesn't do that.

**Expected behavior**
Behave like the base MK2 or MK3/s

**Desktop (please complete the following information):**
 -

[2020-09-30 13:19] 3d-gussner opened #253 "[BUG] MK2 PINDA doesn't trigger"
**Describe the bug**
Started Prusa_MK2 with latest official firmware and tried to run the wizard, but i fails in the selftest at z.
Tried G28W to home and the PINDA doesn't trigger.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ./MK404 Prusa_MK2_mR13 -s -f (MK2 hex file)
2. Run selftest or `G28W`
3. Selftest fails and PINDA doesn't trigger

**Expected behavior**
Should trigger above

[2020-09-30 13:20] vintagepc commented on #249
shoot, the minirambo naming throws a wrench in the works there since the printer name does not reflect the c++ class name used to get the storage filenames.

I'll fix tonight.

[2020-09-30 13:23] vintagepc commented on #252
This is the soft PWM bed code causing this. looks like the 2.5 variants need the bIsBed argument set to true to indicate we're doing softPWM trickery.

[2020-09-30 13:26] vintagepc commented on #253
Interesting; I know I had the self test completing at one point. I wonder what changed...

[2020-09-30 22:53] vintagepc commented on #253
This is a weird one,  the microstep count (and therefore position tracking) doesn't seem to be working right.

I can see the firmware is setting the driver MS1/2 to H/H (MS 16), correct according to the source.

But when I try a move axis/step, it's only stepping about 1/16th of what it should. Are the MS outputs inverted? Doesn't look that way on the schematic.

[2020-10-01 00:25] #252 closed

[2020-10-02 21:15] vintagepc commented on #253
Any chance @wavexx  or @leptun has some insight on the miniRambo line with regards to this? From what I can see it looks like the FW is stepping as though it's in full-step mode but the driver is configured for 16ths.

Steps/mm should be configured correctly as well.

[2020-10-02 21:27] wavexx commented on #253
No direct experience with the miniRambo

[2020-10-02 22:42] vintagepc commented on #114
Just pushed a "flat-quad" extrusion visual mode that's not has hard on the GPU... Two triangles per segment instead of 8.

Next-up: non-uniform E-cycles....

[2020-10-02 23:39] vintagepc commented on #114
Ummm. So. I think this takes true-to-life simulation to a whole new level. :rofl:

Non-uniform X cycle, with a non uniformity around the half-step position:
![image](https://user-images.githubusercontent.com/53943260/94977244-e8853d00-04e5-11eb-8a6a-12f1d9c4e3c8.png)

![image](https://user-images.githubusercontent.com/53943260/94977482-dd7edc80-04e6-11eb-9fbb-efc8d57cc389.png)

That pattern looks

[2020-10-03 07:36] DRracer commented on #114
Damn, I hate being right.
@vintagepc excellent result, keep it up. As I can see, we have 2 types of artefacts - stepper interleave and non-linear curve of the TMC/motor.
@wavexx how can we fight stepper interleave?

[2020-10-03 07:41] DRracer commented on #114
@vintagepc "flat-quad" extrusion visual mode is completely sufficient - for our analytic purposes it looks even better than full 8-face "body" of the filament (the investigated effect is much more apparent).

[2020-10-03 11:37] wavexx commented on #114
On Sat, Oct 03 2020, vintagepc wrote:

I'd like to try this. Is it already in 112-*-take-2?
I guess I need to use --3d-extrusion along with --extrusion Quad_*?

[2020-10-03 11:48] vintagepc commented on #114
The only downside to flat quad being that it's completely invisible from the bottom :rofl:

I'm thinking that doing something about the interleave could be tricky since it's basically discretization at the resolution of the motion system. Geared extruders and smaller angle steppers (at higher microstep counts) will of course help with the problem since it gives you more choice as to when each tick

[2020-10-04 11:17] 3d-gussner commented on #114
Playing around and here an example of Marlin206_einsy printing VFA-Test.gcode
- lower part no changes in flow or LA K value
- mid section go with flow to 40
- Upper part changing flow and LA k value
- Top layers are printed with flow 100 and LA K0.00
![image](https://user-images.githubusercontent.com/25530011/95013867-5c892780-0643-11eb-8952-c281eb2177e4.png)

It looks most consistent with flow 95

[2020-10-04 11:24] 3d-gussner commented on #114
@vintagepc What are these lines are showing?
![image](https://user-images.githubusercontent.com/25530011/95014081-c3f3a700-0644-11eb-928f-830c452cfad8.png)

[2020-10-04 11:39] 3d-gussner commented on #114
It is still hard to navigate with the mouse to get a good shot. Any change we can use keys to navigate the camera, or out/input coordination?

[2020-10-04 11:54] vintagepc commented on #114
Those are the initial de-retractions. They show up that way because they are a high extrusion delta but with very little horizontal movement.

Yeah, the camera library is better than what we first had but still not great (or just misconfigured). I'll have another go at it.

[2020-10-04 13:46] vintagepc commented on #114
@3d-gussner Just pushed up a small tweak to camera handling. seems to be better and no longer "snaps back" to the starting position every time you try to do a move. Let me know if that's better.

[2020-10-04 18:18] 3d-gussner commented on #114
Print 100x50x50 cube with 1 perimeter with Marlin206 Einsy firmware

- first layers stock flow 95 and LA K K0.5 pla
- 2nd part flow 90
- 3rd part flow 85
- 4th part flow 80

![image](https://user-images.githubusercontent.com/25530011/95023639-7a27b280-067e-11eb-89f3-af1d5241dcaa.png)

[2020-10-04 19:24] wavexx opened #256 "[FEATURE] Save-states"
Just throwing this absurd idea in here =)

It would be nice to implement save-states, with Ctrl+[index] saving the state to slot [i] and Alt+[i] to restore it (btw, this is *not* inspired *at all* by console emulators ;)).

simavr doesn't implement a way to serialize the avr structure out of the box, but you definitely played now with simavr internals quite a bit so maybe it's not completely out o

[2020-10-04 19:51] vintagepc commented on #256
Interesting idea... though I am not sure how well this would work in practice. Part of the issue is the way SimAVR handles the callbacks. It's not impossible, but probably even more complex than PrusaSlicer undo/redo to get right ;-). There are a lot of independent stateful parts, each of which would need to be serialized correctly.

That said... GDB might natively support doing this through its s

[2020-10-04 20:15] wavexx commented on #256
On Sun, Oct 04 2020, vintagepc wrote:

I somehow doubt, gdb support in simavr is pretty decent, but not ultra
comprehensive :).

It doesn't support reverse execution for example, along with several
forms of hw breakpoints/watchpoints (don't remember which ones right
now). But at least those can be worked around with sw ones.

avr-gdb 8 in debian doesn't have "checkpoint" yet (but maybe I just need

[2020-10-04 20:34] vintagepc commented on #256
Well, you wouldn't be able to use AVR-gdb, you'd need to use regular GDB on the full MK404 executable. (this wouldn't work trying to snapshot just the running AVR code).

I'd imagine the way it works is just snapshotting the entire program register and memory state - which, in theory, should work just fine. Alas, I just tried it and it doesn't work because we have multiple threads. (AVR, GUI, seri

[2020-10-04 21:16] wavexx commented on #256
On Sun, Oct 04 2020, vintagepc wrote:

Uuuh ok, I didn't think of doing _that_ ;)

Even "plain" reverse execution has such a limited use-case scenario that
I can count on my fingers the number of times I could make use of it :)

[2020-10-04 21:28] vintagepc commented on #256
Fair enough - I only did think of it because I probably spend more time debugging the simulator code, whereas you use avr-gdb to debug the firmware :wink:

[2020-10-04 21:33] vintagepc commented on #114
Excellent - since this seems to be working nicely I'm going to prep some tests and merge this up to mater.

[2020-10-04 21:48] vintagepc commented on #114
Just an observation - I've noticed that the VFAs seem to show up much more strongly during an LA lead-in and then disappear once the extruder is up to speed on X. (This is not ringing as the frequency is too high for the mass of the Y axis) Will post a pic once the print completes.

[2020-10-04 22:20] wavexx commented on #114
Yup. Acceleration is especially bad (or let's say, less clean!) with LA. The acceleration frequency is shifted up with a fixed factor, but all additional E-steps are spread inbetween regular XYZ steps. This causes the E frequency to change continuously during acceleration _around_ the target speed, since we sum the regular stepper aliasing with E aliasing as well.

This also existed with LA1.0, bu

[2020-10-04 22:33] vintagepc commented on #114
At that point you'd probably start getting task interleaving artifacts instead... who knows. Probably about all you could do to work around that is have some sort of external motion planner you could direct rather than controlling the steps directly.

[2020-10-05 01:16] vintagepc commented on #114
Picture, as promised. :-)
![IMG_0002](https://user-images.githubusercontent.com/53943260/95031972-b3642080-0686-11eb-869e-7523788baf2b.JPG)

[2020-10-05 06:40] DRracer commented on #114
@vintagepc how did you manage to make such a clean print? My stock MK3S does awful straight lines just as @3d-gussner showed in the sim. I'm shocked how exact the simulation corresponds to reality (i.e. how the printer's HW replicates the errors in driving the motors).
I do see the tiny acceleration artefacts though, that was our primary idea/motivation for visualizing extrusion.

[2020-10-05 12:12] wavexx commented on #114
On Mon, Oct 05 2020, DRracer wrote:

If I'm not mistaken he's using .9 steppers on XY

[2020-10-05 12:33] vintagepc commented on #114
Yep, that's one of 'em. It's a somewhat modified 3S with the following being the major mods relating to print quality:

OMC 0.9 degree steppers on X/Y, 16 microsteps @ 200 steps/mm
https://www.amazon.com/gp/product/B00W98OYE4/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1
They were drop in replacements, though I did add heatsinks to the TMC drivers out of caution. No customized firmware required,

[2020-10-05 12:35] vintagepc commented on #114
It's also worth noting that print is a 0.3mm layer height. Layer volume also plays a role in how visible the step discretization artifacts are.

[2020-10-05 12:56] vintagepc commented on #114
Just tried it and the artifacts are (of course) still present but they are much finer - and I think on this scale they start to be "absorbed" into the flow characteristics of the molten plastic, which will have a natural smoothing effect:

![image](https://user-images.githubusercontent.com/53943260/95081971-5ac56f80-06e8-11eb-9f99-ed6ee99053ed.png)

That suggests that even without hardware modifii

[2020-10-05 13:17] wavexx commented on #114
I've been running with the BMG with a .9 stepper (830 e-steps), and now half of that (mostly due to the speed limit). But you can just step faster (thus reducing XY error) by increasing e-microsteps up to 64.

The BMG extrudes much smoother overall, and this becomes much more obvious at low speeds, but I can't say I noticed a decrease of VFA in prints compared to a plain MK3.

[2020-10-05 13:22] vintagepc commented on #114
Keep in mind it depends which type of artifact you're seeing - additional microsteps doesn't help combat motor nonlinearity - only those artifacts caused by stepper interleave.

[2020-10-05 13:24] wavexx commented on #114
Yes, but stepper interleave is what we're seeing here. My point is that the motor and/or motion of the axis as a whole is what causes most of the problem sadly.

[2020-10-05 13:30] wavexx commented on #114
Ummh, sorry. Saw the edit too late :+1:

[2020-10-05 13:30] wavexx commented on #114
Btw, .3 layers, with a .4 nozzle or bigger?

[2020-10-05 13:33] vintagepc commented on #114
Yes, 0.4 nozzle. 0.55 extrusion width to avoid gap fill and its print time penalty on certain features in that particular part. Don't know if it matters but I also have a plated copper heat block and a plated copper nozzle.

[2020-10-05 13:55] wavexx commented on #114
Ok, the 0.55 extrusion explains why I'm not seeing gaps between the layers. I consider .3 too high for a .4 nozzle with the default extrusion width. I'm also trying a copper block currently.

[2020-10-05 14:03] vintagepc commented on #114
This object was a wipe block for an MMU print, but the main part was done at the default width (0.45)

![IMG_0004](https://user-images.githubusercontent.com/53943260/95089162-ce1faf00-06f1-11eb-93ba-4109254793e6.JPG)

[2020-10-05 14:15] wavexx commented on #114
MMh, that looks quite ok. I don't have any .3 prints right here, but I generally have occasional imperfections (thin layer gaps) in long straight sections, something you definitely see immediately. It's also not unique to the MK3 (same issue with a .4 MK8 nozzle on a tevo).

[2020-10-05 14:20] vintagepc commented on #114
I think it requires well tuned extruder tension and temperatures; I could see it easily causing issues if you're not extruding hot enough or slightly under at the flow rates/volume you get with 0.3 layer height.

[2020-10-05 14:57] leptun commented on #249
The saga continues.
Added a gcode file to SDCard named `Buton_umbrela_Florica_MKB_FAST.gcode`, ran the Prusa_MK3S_SDcard.bin target and got this in the build log:
[code]
As can be seen, only Test.gcode was copied.

[2020-10-05 15:20] leptun commented on #249
Ok. Good to know. Just did this and it works.
One more issue, though. Files that have "()" break the generated makefile. Something to look into.
[code]
Used filename was `Test (2).gcode`

[2020-10-05 15:22] vintagepc commented on #249
Good find. I probably just missed putting quotes around a filename variable somewhere.

[2020-10-05 18:09] vintagepc commented on #114
Yes, I was using PLA (+-0.03mm if it matters). I normally print this stuff at 195 but had bumped it to 210 for MMU tip shaping.

[2020-10-05 21:36] vintagepc commented on #249
OK, I have a fix for both of these, I think. I managed to make the wildcard for `*.gcode` work, which both pulls in the current state of the directory and fixes the issue with special chars in the filename.

Cmake convenience entries for gcode files are still dependent on re-running cmake to pick up new ones to list under a target though.

[2020-10-05 21:36] vintagepc commented on #249
Third time's the charm, I hope.

[2020-10-05 21:36] #249 closed

[2020-10-06 02:23] vintagepc opened #257 "[IMPROVEMENT] Fix workflows"
**Is your feature request related to a problem? Please describe.**
Environment variable handling is changing. Update workflows to comply:

https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#environment-files

[2020-10-06 02:35] #114 closed

[2020-10-06 02:36] vintagepc commented on #114
Merged. Nonlinearity is disabled by default but can be enabled by swapping comments on the X Position change calls in `util/GLPrint.h`

[2020-10-06 02:37] vintagepc opened #258 "[DOCUMENTATION] Move features to wiki"
Move the list of features from the main README to the wiki as a Feautres & status page/table.

[2020-10-06 22:10] #257 closed

[2020-10-06 22:10] #258 closed

[2020-10-06 22:13] vintagepc opened #261 "[FEATURE] Use warnings/errors for CI builds."
**Is your feature request related to a problem? Please describe.**
CI builds can issue warnings/errors with filenames and line numbers - make use of that fir things like code lint as it makes a nice annotation on the action result rather than needing to trawl through the logs.

https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-a-warning-

[2020-10-06 22:53] vintagepc commented on #261
Ooooh, this is very nice!

![image](https://user-images.githubusercontent.com/53943260/95268342-2693a100-0805-11eb-988a-9bedee71c08e.png)

[2020-10-07 00:42] vintagepc commented on #256
I've contemplated this a bit; I think the right (and lowest-overhead) way to do it (in addition to the SimAVR core state) is to define stream operators for the various components.

It would be session-only; I'm not going to deal with storing this to file and reading back an arbitrary version in the future when the stored contents might no longer represent the contents of the fake device, or storin

[2020-10-07 00:44] #261 closed

[2020-10-08 14:44] leptun opened #263 "[FEATURE] Klipper support"
@vintagepc I'd like to get Klipper working in the SIM as I need to do some comparison to PrusaFirmware. Only problem is that it currently doesn't quite work. The connection to the host software times out. I checked in uart_pty.cpp and data is received and sometimes even read by the code, but at some point the XOFF hook is engaged and the firmware gives up entirely. I'm quite unsure where to start

[2020-10-08 14:50] vintagepc commented on #263
I can take a look at this - can you post the ELF you built? That will potentially save me some initial setup time figuring out how to build it.

I'll trade you - if you have some time to look at #253 and verify the Allegro behaviour against hardware behaviour for me it would be much appreciated and I can close out that too - I seem to remember you do have a MK2.

[2020-10-08 14:52] vintagepc commented on #263
Also, I drafted this quick how-to on debugging AVR firmware with gdb:
https://github.com/vintagepc/MK404/wiki/Debugging-Printer-Firmware-with-MK404

[2020-10-08 14:58] leptun commented on #263
Here you go. Not sure how helpful this will be since you also need the host software for it to work properly (and maybe octoprint as well if you actually want to test anything). Building it is quite easy especially since the host software and avr firmware are bundled together. Fot the AVR firmware, the default configuration in `make menuconfig` is ok.
[klipper.elf.zip](https://github.com/vintagepc

[2020-10-08 17:16] DRracer opened #265 "[FEATURE] Simulation of real filament flow/springiness"
**Is your feature request related to a problem? Please describe.**
My request is related to a problem, which is however not in MK404 :) .

**Describe the solution you'd like**
Right now we are able to make detailed visualization of extrusion thickness. We can even do nonlinear behavior of the TMC+motors. The functions responsible for doing this are:
[code]
@vintagepc do you see a possibility of pa

[2020-10-08 18:36] vintagepc commented on #265
Hmm.... I had no designs on it initially, but it's code, so anything is possible.

Are you just asking for a way to see the extrusion derivative with respect to distance or time? (Time would be trickier, but probably also possible) Or, are you asking about a very literal simulation of the plastic flow?

If the latter, what's tricky is figuring out the actual plastic simulation; I suppose an initia

[2020-10-08 22:41] vintagepc commented on #263
Looks like the Klipper FW is stuck in a WDR loop for me - If you run MK404 with `-vvv` you get endless
[code]

That might explain why it won't start... :)

[2020-10-09 00:15] vintagepc commented on #263
I did some more digging... looks like klipper isn't responding properly. I don't see any "uart_pty_in_hook" log messages that indicate the AVR is sending serial data. Only incoming data from the host.

[2020-10-09 03:52] leptun commented on #263
It’s not sending data back, but at least it’s reading it up to some point.
Doesn’t klipper actually use the wdt? That would be interesting.

[2020-10-09 06:01] DRracer commented on #265
@vintagepc I'd like to develop a very simple spring model of plastic flow to smoothen the extrusion visualization similarly as real plastic does. I'm looking for artefacts in Linear Advance (ghosting in acceleration segments to be exact - you have them on your print as well ;) ), which can be then mitigated by clever timing of LA pulses.
My initial idea was to get time (steady time stamp, temporal

[2020-10-09 09:15] leptun commented on #263
@vintagepc Interesting detail that might help you: klipper actually uses also the ReadyToSend interrupt, not only the DataReceived interrupt. Maybe that one is broken.

[2020-10-09 11:38] vintagepc commented on #265
Hmm... that doesn't seem too wild. For time it would likely be best to use the delta in CPU cycles converted to seconds, as that should be fixed regardless of how fast or slow the simulation is running.

[2020-10-09 11:41] DRracer commented on #265
yes, that would be sufficient - I just need some time stamps to try it out ;)

[2020-10-09 11:47] vintagepc commented on #265
I'll see what I can plumb in, then I can just hand you a place to stick the equation ;-)

[2020-10-09 11:50] vintagepc opened #266 "[BUG] MBL map does not appear to work for print simulation"
**Describe the bug**

Per the discussion on #264, it looks like the printer MBL map isn't working right. Investigate.

[2020-10-09 11:58] DRracer commented on #266
Update - the white print line follows the bed (had to make a really bad heatbed with 1.5mm peaks), but the highres extrusion visualization doesn't (this lays flat onto the bed).

[2020-10-09 12:04] DRracer commented on #266
Screenshot from the sim:
![MBL_issues](https://user-images.githubusercontent.com/26795080/95580832-452dae00-0a38-11eb-8500-98b010af13ce.png)
notice the white line going up on the right side

[2020-10-09 12:05] vintagepc commented on #266
Ah, this may just be a simple oversight. It looks like AddSegment() uses the same Z start/end values for the extrusion chunk.

[2020-10-09 12:13] 3d-gussner commented on #266
You should contact Support if you have that kind of bent bed 😁 and ask for replacement

[2020-10-09 12:17] vintagepc commented on #266
Sounds like the complaint is "my bed isn't broken enough, it prints too level!" to me :rofl:

[2020-10-09 12:21] vintagepc commented on #263
unfortunately that may doom this from the start.

I'm hoping it might be possible to just bypass that (since the PTY is essentially always able to receive data) but that won't work if klipper expects to be able to use that signal as a means of controlling the device.

RTS/CTS are hardware control lines, and much like DTR cannot be simulated with a PTY.  We'd have to write a fake serial
port device

[2020-10-09 12:29] leptun commented on #263
Wait... I think I sent you on a wrong path. I accidentally used the Serial equivalent names instead of the actual interrupt vector names.
`USARTx_RX_vect` is used for receiving data.
`USARTx_UDRE_vect` is used for transmitting data.
Sorry for causing confusion. The atmega2560 doesn't even have RTS/CTS support. The only chip I know that supports this is the atmega32u4 and similar.

[2020-10-09 12:34] vintagepc commented on #263
hmmm.. I may need to look at that in depth then. I know for the MK3 I had to implement a workaround because the UDRE bit was not cleared after changing the serial port config - and it would hang on boot. I wonder if there is a similar occurrence here and it gets stuck high too.

The other thing I noticed is it expects the baud rate to  be much higher than default. It shouldn't cause any issues wit

[2020-10-09 12:36] leptun commented on #263
Klipper has a workaround for this UDRE issue:
[code]
Btw, the MK3 firmware doesn't actually use the UDRE interrupt. Instead it just does the polling method and blocks the main loop

[2020-10-09 12:37] DRracer commented on #266
@vintagepc I'm afraid this may get a little more complicated, because we need to take the Z-motor nonlinearity into consideration while processing the printed segment

[2020-10-09 12:58] vintagepc commented on #266
And the backlog gets longer.... :stuck_out_tongue:

Are we thinking part of the cause of 602 is non-linearity coupled with MBL?

[2020-10-09 12:59] vintagepc commented on #263
Makes sense - though whether we are polling or using the interrupt to wait for it to go low... the problem is the same if it never does :rofl:

[2020-10-09 13:03] vintagepc commented on #266
I pushed up a print-sim-enhancements branch which has a partial for what I bashed out this morning.

It brings a dT (delta cpu cycles) through to OnEStep and fixes the Z endpoint of print segments. Didn't have time to check it though so it might be horribly broken.

[2020-10-09 13:11] leptun commented on #263
[printer.cfg.zip](https://github.com/vintagepc/MK404/files/5355109/printer.cfg.zip)
Updated config that adds the ambient sensor on the einsy (according to latest push to master)

[2020-10-09 13:42] leptun commented on #263
Just tried writing some basic arduino code with which I could test the serial.c from klipper.
I am disappointed to report back that it works as it should, so there might be something else that breaks the firmware.

[2020-10-09 13:52] vintagepc commented on #263
yes, that's both good news and bad news.

When I inspected it yesterday, the place the firmware was looping was in sched.c

[code]

[2020-10-09 15:03] vintagepc commented on #263
I recall reading something about there being a built-in 2 instruction delay surrounding interrupt enable/disable.... The other thing that comes to mind is the way SimAVR terminates; there's a special case where if you sleep with interrupts disabled, it will exit the AVR run routine. So perhaps this is in some way falling afoul of that.

The crash sounds like we hit an assertion failure and/or an o

[2020-10-09 15:10] vintagepc commented on #263
found it
https://github.com/buserror/simavr/issues/376

[2020-10-09 15:19] leptun commented on #263
Btw, simavr crashes after the connection is established. The LCD is initialized and the steppers are disabled and the fans spin a bit. I suspect that the simulator crashes while enabling some functionality of the MCU. The elf file provided is more or less generic. The firmware only knows it's pinout once the connection is established

[2020-10-09 15:21] vintagepc commented on #263
:+1:

the `-vvvv` argument may prove useful there; that will print some internal logging channels that can indicate whether it's on our end or a SimAVR thing.

[2020-10-09 15:23] leptun commented on #263
[klippy.log](https://github.com/vintagepc/MK404/files/5355896/klippy.log)
Just for reference

[2020-10-09 16:18] DRracer commented on #266
Nope, issue 602 is purely caused by nonlinearity of the E-motor.
But for the sake of completness, Z-axis and MBL related issues (line segmentation) are missing in our analysis so far.

Delta CPU cycles: that should be enough, I'll look into it.

[2020-10-09 16:28] vintagepc commented on #266
I'm hoping just fixing the segment start/end Z might actually be enough to make issues visible given the x/y segment sizes tend to be very small in HR modes anyway. But if not we can improve the calculations.

I suspect it might be necessary to carry the deltaT down through to the addSegment function, but I'm not 100% sure. It might be perfectly satisfactory to calculate an adjusted E value based

[2020-10-09 16:44] leptun commented on #263
@vintagepc How can I make the GL information stop being reported when using -vvvv? Even if I ignore the GL stuff, nothing extra is printed when simavr crashes

[2020-10-09 16:53] vintagepc commented on #263
There's an if() in MK404.cpp that checks for the verbosity and calls GLDebugcallback to get notified on GL logging events. You can just comment that out temporarily.

[2020-10-09 17:59] leptun commented on #263
![image](https://user-images.githubusercontent.com/17808203/95616328-4aa7ea00-0a72-11eb-8ebb-d0f11aa8a912.png)
I was not expecting that this will be an error in the LCD code. I'll try disabling the LCD in klipper and see if it fixes itself

[2020-10-09 18:05] vintagepc commented on #263
That looks like an OOB on the vRAM on the LCD.

`m_vRam[m_uiCursor] = ...` -> m_uiCursor seems to have been set to a value > 104.

[2020-10-09 18:06] leptun commented on #263
And we have another issue...
[code]

[2020-10-09 18:17] leptun commented on #263
Initializing code for timer1
[code]

I'm actually a bit confused why they don't use the CTC mode, but I digress.

[2020-10-09 18:27] leptun commented on #263
Aaaand the cursor position where it attempts to write is 117 decimal. So outside the screen. The commands it sends to the LCD are very suspicious. Wondering if the timer issue is linked to this (no idea how the lcd is implemented in klipper).
This looks suspicious:
[code]

[2020-10-09 18:32] vintagepc commented on #263
IIRC that's just a warning that it's writing to the display faster than the real thing can handle.

Does klipper read back data from the LCD at any point? it might not be wired up to support that as the factory firmware only ever writes.

[2020-10-09 18:34] leptun commented on #263
RW line is not implemented on the einsy/ultralcd, so it shouldn’t ever try something like this.

[2020-10-09 20:42] vintagepc commented on #263
Yes, something seems very wrong with the LCD config or I/O... I tested it by expanding the ram to 128 and got this:
![image](https://user-images.githubusercontent.com/53943260/95629642-58e40f00-0a4e-11eb-8708-0dfe3479e751.png)

[2020-10-09 22:50] #253 closed

[2020-10-10 00:55] vintagepc commented on #263
It almost looks like all the LCD bytes are off by a nibble.

I wonder if it's worth opening a request for help on their github; at the very least they might be able to interpret the klipper logs for us to help pinpoint the issue.

[2020-10-10 01:37] vintagepc commented on #263
I should note that I recompiled locally and tweaked the irq_wait() function ASM line to have two `nop` calls. Now it behaves similarly to the one you provided - but they both still sometimes get in a state where it won't seem to connect at all.

[2020-10-10 05:10] leptun commented on #263
The LCD issue is not really related to the timer in the past issue as even if the LCD is disabled in the config, the timer still executes in the past.

I also noticed that it fails to connect sometimes. When that happens I just restart the klipper service and also the printer and then it “works”

[2020-10-10 12:56] vintagepc commented on #263
Yes - I don't think the display itself is the cause - I think it is just a sign that something is going wrong earlier in the startup and causing problems downstream.

[2020-10-10 14:53] vintagepc opened #269 "[CI] Break up automated tests"
The automated tests are kinda lengthy compared to build times. Maybe split them into two or three sets that can run in parallel.

Will need to merge the resulting .info coverage files before issuing the report; shouldn't be an issue since they will be compiled the same way... I hope.

Will also need to split the snapshot images by test group as well.

Maybe one set as the core component tests and

[2020-10-10 21:32] #269 closed

[2020-10-10 22:12] vintagepc commented on #266
OK - can confirm that the simulated print now follows the MBL curve as expected:

![image](https://user-images.githubusercontent.com/53943260/95666040-e180af00-0b23-11eb-874e-83f9643c87ab.png)

Z nonlinearity can be enabled and with the quads being so small I expect that it should reveal any issues as a gap between adjacent ones as opposed to a smooth transition.

Is there anything else do do on t

[2020-10-11 14:42] vintagepc commented on #263
Did a bit more poking, have the following notes to add:
 - changing the SEI code to -1 instead of -2 does indeed appear to resolve the hang; it boots as expected with the stock build then.

- I can confirm the problem appears to be the combo of klipper and simavr. I modified the simduino example on a stock simavr checkout and it exhibits the same "timer scheduled in past" issue.

[2020-10-12 01:55] vintagepc commented on #263
Made some more progress today. Display issue is due to bad init and our virtual display not tossing out writes while busy.

I hacked around the timer stuff temporarily and need to dive in more.

![image](https://user-images.githubusercontent.com/53943260/95697367-7fe83f80-0c0c-11eb-9d35-f89984c61486.png)

[2020-10-12 06:28] leptun commented on #263
Did you push these changes anywhere?

[2020-10-12 11:52] vintagepc commented on #263
Just pushed to 263-klipper-support. git submodule update required for simavr tweak.

I temporarily worked around the timer in past by commenting it out in the klipper source until I can dive in deeper.

[2020-10-12 22:15] vintagepc commented on #263
Just pushed up a fix for the initial bootup issue (submodule update required).

We get further now but attempting to do anything results in "timer too close", so that is the next problem to debug.

[2020-10-13 07:28] leptun commented on #263
Issues left to fix:
- [ ] Bed heater is always enabled. Probably need to revert some of the hacks from PrusaFirmware with the timers
- [ ] Axes hit the endstops immediately. This is not consistent as sometimes the Z will try to home, otherwise it homes instantly. X/Y always home instantly.
- [ ] Fans seem to work, but we get the timer too close error sometimes.
- [ ] Hotend heater seems to work, b

[2020-10-13 11:54] vintagepc commented on #263
Knocked off the first one; `-n` now disables the bed softpwm hack that causes this.

[2020-10-13 13:30] vintagepc commented on #263
Hmm... I'm seeing this in the logs. Might have to artificially slow down the sim a bit...
`freq=41679345`

[2020-10-13 13:49] vintagepc commented on #263
hot damn, that seems to have worked!

Looks like the endstops need to be inverted in the printer config, they're tagged with a `!` for active low but DIAG is active high as we use it with the official firmware.Fixing that causes X/Y to home as expected.

Not sure what's up with Z; that doesn't seem happy. Digging in.

It now throws a "not heating at expected rate" error - good sign, means I think

[2020-10-13 14:06] leptun commented on #263
@vintagepc Please check the config. I think they are using the other DIAG pin mode of functioning where it's active low only, not push-pull

[2020-10-13 14:09] vintagepc commented on #263
Ah, ok - in that case we'll need to implement the config register in the TMC2130. I forgot about that possibility and will implement it. In any case it's a minor tweak that can get you underway while I polish things :+1:

I'm sure @KevinOConnor will be interested in the progress here :smile:

[2020-10-13 15:11] vintagepc commented on #263
Pushed up a proper diag_pushpull implementation.

[2020-10-13 16:05] KevinOConnor commented on #263
FWIW, I implemented the code at: https://github.com/KevinOConnor/klipper/blob/cef9cc29b8f150681cd24ca6f051fc9f03fc924b/scripts/avrsim.py#L102 to do something similar for simulavr.  (Basic idea is to alter the sleep amount based on how much the clock rate differs from the system time, while also preventing an unfortunate "slow emulation" from incurring a future "fast emulation to catch up" - as tha

[2020-10-13 16:11] vintagepc commented on #263
Yes - simAVR has similar code internally to avoid sim and wall time divergence. I do not know why it doesn't seem to be working here (for either firmware - stock f/w also seems to be clocking much faster).

[2020-10-14 16:27] vintagepc opened #271 "[FEATURE] Window icon & Title"
**Is your feature request related to a problem? Please describe.**

- Actually give MK404 windows an icon (needs .rc file with GLUT_ICON, (https://www.linuxquestions.org/questions/programming-9/how-to-set-icon-to-glut-window-titlebar-489593/0

- Remove "Prusa i3" and shorten the title to just "MK404" in anticipation of non-prusa printers being added.

[2020-10-14 16:31] vintagepc opened #272 "[FEATURE] Terminal Console"
**Is your feature request related to a problem? Please describe.**

Add a console input to the terminal that you could use to send ScriptHost commands dynamically.
Might be something usable in https://github.com/buserror/simavr/commits/wip/shell but I haven't looked too deeply.

Doesn't have to be the shell, maybe we could do an extra input line on the main window instead and then offer tab comple

[2020-10-14 16:54] vintagepc commented on #263
Simulator's PID parameters:

// PID parameters: pid_Kp=63.285 pid_Ki=12.785 pid_Kd=78.316

I know it seems to stall out as it gets close to the target with the defaults.

[2020-10-14 17:19] vintagepc commented on #263
Teaser... Still fragile but I managed to get it to home, heat up, and run a VFA print:

The fuzzy section towards the bottom is with X nonlinearity on, the rest is with it off.

![image](https://user-images.githubusercontent.com/53943260/96022708-46d3e900-0e1f-11eb-923a-ae2091ce4bfa.png)

What's very interesting... is the artifacts do not line up vertically. This would be *very* interesting to com

[2020-10-14 18:00] wavexx commented on #263
mmh, there's always the E axis involved right? (to get the width).

[2020-10-14 18:14] vintagepc commented on #263
ooooh, true; if the E behaviour is very different it would change where the excess and under-extrusion happens

[2020-10-14 18:29] wavexx commented on #263
I mean, XYZ cannot drift, so the only motor that can shift here is E (unless we have a bug somewhere of course ;))

[2020-10-14 18:58] vintagepc commented on #263
A bug is always possible but would be very strange given the way the positioning works.

[2020-10-14 19:03] wavexx commented on #263
Looks about right to me BTW. The different level of artifacts might suggest the klipper config has a different e-step/mm spacing perhaps?

[2020-10-14 23:18] vintagepc commented on #263
I just pushed up some code with `--skew-correct` which attempts to correct clock skew in the fast direction (it can't help if the system is too slow, of course).

It seems to make the frequency a lot more stable which in turn stabilizes Klippy.

I'm attempting to run a print with pronterface now to see if it is effective at preventing "timer too soon"s.

[2020-10-15 07:47] DRracer commented on #157
@vintagepc is there a reason for not enabled optimizations? Just did a quick and dirty hack in the main CMakeLists.txt and my sim runs ~2x faster even than realtime (filename scrolling, visualization, moves ...).
[code]
-O3 crashes on my box when starting printing though, I assume gcc 10.2 doesn't understand something correctly

Or is it just a coincidence of recent changes in master branch?

[2020-10-15 11:08] #266 closed

[2020-10-15 11:15] vintagepc commented on #157
Debugging... since I'm basically always doing that. :wink:

But these values (or, at least, `-O` and `-g` are implicitly controlled by `-DCMAKE_BUILD_TYPE=(debug or release)`:

https://cristianadam.eu/20190223/modifying-the-default-cmake-build-types/

[2020-10-15 12:03] DRracer commented on #263
@vintagepc was your print aligned with X or Y axis? If not that might be the cause of those non-aligned artefacts. We can see them on our FW as well, but so far they have been perfectly aligned. Another possibility is MBL kicking in

[2020-10-15 12:10] vintagepc commented on #263
Yes - this was my X-only single-wall VFA test gcode that I have checked in.

[2020-10-15 14:11] vintagepc commented on #263
@leptun I reworked the skew correction a bit and on my machine the Klipper freq parameter is now very close to 16 MHz. I have not yet seen a "timer too close" after this change. I do get a "timer in the past" but it happens at the exact same point in the gcode so I suspect it is badly sliced with too high a travel speed.

Also, pushing the pause key will now print out stats, e.g.:

[code]

A few t

[2020-10-15 15:07] leptun commented on #263
I’ll try it later today. 👍

[2020-10-15 17:00] vintagepc commented on #272
Progress! this is actually pretty straightforward, (including the tab-complete) now I just need to plumb in a way to get the entered text across threads to the backend and return the result.
![image](https://user-images.githubusercontent.com/53943260/96162272-5407db00-0ee6-11eb-9522-c820d02ec6cc.png)

[2020-10-16 14:25] vintagepc commented on #271
ugh, .rc files and embeddable icons are only supported on Windows (which is pointless, since we build on Cygwin there anyway).

No option but to use OS-specific code for X11/OSX.

[2020-10-17 08:35] leptun commented on #263
I just pushed a small patch to a mistake (probably forgot to stage this change). Switching to Release did the trick for me in the VM. Now with the speed patch I get 33Mhz so I actually need to slow down :). When pausing I am waaaay ahead. I assigned 4 virtual CPUs to the VM from the beginning. 4GB of RAM is probably more than enough especially when not rendering extrusion. Is the current code supp

[2020-10-17 08:43] leptun commented on #263
I tracked the issue. Forgot to add `--skew-correct` when running MK404. Now it works perfectly. Just a bit under 16Mhz, which is fine. Thank you again for implementing support for klipper. Now I wonder, how are we going to make this part of the main program and not just a list of hacks to enable for klipper? I'd guess that we could have something like `--fw <PrusaFirmware/klipper/Marlin/generic(ak

[2020-10-17 11:27] vintagepc commented on #263
I've been pondering something similar; I don't see any reason we couldn't do that if I can find a way to poke the incoming arguments, e.g. if `--fw klipper` is set it automatically enables `--skew-correct` and `-n`. Should be fairly easy to maintain.

Glad to hear it's working for you! I'll review/polish the changes we made in the klipper branch and work at merging it up to master.

[2020-10-17 13:08] vintagepc commented on #263
Alas TCLAP has no nice way to handle convenience args; if we start needing more of them I'll look at forking the project and adding some sort of support to deal with them dynamically.

But for now I've just added --klipper and --marlin as shorthand for their respective -n and skew flags.

[2020-10-17 15:20] KevinOConnor commented on #263
What was the verdict on the "fine artifacts" result reported at: https://github.com/vintagepc/MK404/issues/263#issuecomment-708543765 .  I'm not familiar enough with the test to understand if the results were something with Klipper or something with the simulation.

-Kevin

[2020-10-17 15:27] vintagepc commented on #263
We don't know for sure yet - investigating that stepping behaviour as compared to other firmware is part of the reason for this request to support Klipper. There's some more discussion on the details of the visualization in #114; The image is essentially turning the stepper steps into something we can easily interpret visually - it doesn't mean Klipper is doing anything "wrong" - just that it's di

[2020-10-17 15:31] leptun commented on #263
This is what the VFA print looks like when printed using Klipper on a MK3S. The following 3 pictures are made using different flow rates (M221). Not sure if this diagonal pattern we are seeing is what was generated in MK404 or if it's some other issue (most likely TMC2130 related).
![Image from iOS (13)](https://user-images.githubusercontent.com/17808203/96346900-f53d8f80-10a6-11eb-9496-6f9ecfdbe3

[2020-10-17 15:42] vintagepc commented on #263
I did not do anything besides connect, load the file in Pronterface, and print (so default speeds etc as given in the gcode).

The fuzzy section in the middle was purely toggling X nonlinearity via the context menu.

Your pictures are very interesting; traditionally the diagonal lines are E nonlinearity since the E position is what is changing from layer to layer.

The uneven end is actually very

[2020-10-17 15:44] vintagepc commented on #263
Just saw the edit - I bet if we ran a simulation with E nonlinearity you would see the same periodic underextrusion.

[2020-10-17 15:49] leptun commented on #263
The uneven end is caused most likely by poor adhesion on my printer. With higher flow rate I managed to make the parts stick more to the bed, but it's still not great. This really needs a brim for real prints.

[2020-10-17 15:54] leptun commented on #263
@vintagepc Actually, how uneven was the end of the part in MK404? I might have some minor issues with LA on actual prints with Klipper at very high speed and maybe this is related.

[2020-10-17 16:06] KevinOConnor commented on #263
I'm not all that familiar with this topic, so it's hard for me to comment.  (VFA is "very fine artifact"? What's "LA"?)

I can say that the order of Klipper step pulses is unlikely to match Marlin/Prusa.  Those firmware use the Bresenham algorithm which causes strict (and incorrect) ordering between step pulses.  Klipper calculates and schedules a precise time for every step pulse irrespective of

[2020-10-17 16:28] vintagepc commented on #263
Yes - VFA = "vertical fine artifacts" - fine striations in the print surface that line up vertically. LA = linear advance.

We are indeed simulating the nonlinearity of the stepper coils for the goal of understanding its effects. Thanks for your insight on the stepping; it does explain some of what we are seeing; the visualization of MK404 is limited to the resolution of the E steps (since that is

[2020-10-17 16:32] leptun commented on #263
LA is Linear Advance, I think it is called Pressure Advance in Klipper.
I actually have no idea right now if it's stepper inconsistency that is causing the lack of material or if it's some other mechanical issue (or maybe something related to the drivers).
The start of line wobble issue might be because of what you said above with VFA: Nothing will be drown unless E does a step. As a result, the s

[2020-10-17 20:08] #271 closed

[2020-10-17 20:10] vintagepc commented on #271
Unfortunately, tagging this as Wontfix. Freeglut/GLUT does not expose the underlying window handle (which is required to change the icon via X11 calls). I'm not to keen on reworking the GL initialization to be X11-specific.

[2020-10-17 20:15] KevinOConnor commented on #263
Okay, just so I understand, every time there is an E step pulse, the visualization draws a line from the XY position of the last E step pulse to the XY position at the current step pulse?

I suspect that is an artifact of the simulation - I'd guess there is not a even number of E steps per linear movement.

To explain with an example, consider a line segment that requests 200 X steps with 87.654 E

[2020-10-17 20:22] vintagepc commented on #263
Yes, at least for the `_HR` modes which is what we're using to see the stepper artifacts. Notably, it also does not handle "coasting" type operations that compensate for trailing ooze on extrusion moves - it will also render gaps there until we get around to #265

[2020-10-18 09:20] 3d-gussner commented on #243
What do we need to get this finished?
As we are investigating the VFA it might be interesting to compare it to MK2 and MK2.5/s.

[2020-10-18 09:23] 3d-gussner commented on #243
I have been trying to run the Wizard on:
- MK2 works fine and finishes
- MK2.5+S failed at XYZ cal ... have to to retest it again

[2020-10-18 12:31] vintagepc commented on #243
For the models we'd need something we can convert to OBJ via known tools. Essentially some sort of CAD assembly. I did not see any public ones out there like the one we used for the MK3.

We'd either need to build one ourselves from the part STLs and hardware or maybe Prusa has some assembly models they'd be willing to share - but I am not sure since the earlier ones were heavily designed in OpenS

[2020-10-18 13:12] 3d-gussner commented on #243
I have a look if I still have a MK2 and MK2.5/S in fusion

[2020-10-18 13:18] #272 closed

[2020-10-18 20:54] #246 closed

[2020-10-19 01:32] 3d-gussner commented on #243
First test looking good. Thanks

[2020-10-19 02:07] vintagepc commented on #265
I'm extending this a little; I'm working on some math to detect when we exceed the max volumetric rate of the hot-end. No idea how well it will work in practice but if I can get it working it would be good to help ID underextrusion artifacts caused by excessive travel speed or extrusion volumes.

Leaving it permanently on would probably suppress impulse artifacts so I think it will be most useful

[2020-10-19 15:51] vintagepc commented on #265
I think I've got it working, I'll push up a branch with this feature shortly once I add a command line flag to enable it. I think it's obvious where any inspiration came from :stuck_out_tongue:

Gcode with perimeter speeds @ 50mm/s to start (volumetric rate 4.1mm^3/s) and increasing speed (M220) by 50% every 3 mm (so 150, 200, 250, 300) thereafter.

"Red" or "max" is calculated based on the publis

[2020-10-19 17:06] wavexx commented on #265
On Mon, Oct 19 2020, vintagepc wrote:

It would be nice to switch between colorization modes without having to
restart ;)

[2020-10-19 17:19] vintagepc commented on #265
Alas that's challenging with the current design. we don't retain the source data once the triangles have been pushed into the vertex vector. (Same reason toggling nonlinearity does not retroactively enable on things that have already been rendered) I suppose it's possible if we rearrange the originals but this particular bit of code is already fairly costly in terms of computation so I'm not sure

[2020-10-19 18:04] vintagepc opened #277 "[FEATURE] Dynamic visual changes"
**Is your feature request related to a problem? Please describe.**

Investigate how practical it is to do dynamic visualization changes. Specifically, have GLPrint store the original data so it can recalculate the colourization on the fly. It should also be possible to change the actual rendering mode dynamically as a result; but this won't "gain" any data as a result of (e.g.) changing from an av

[2020-10-19 18:04] vintagepc commented on #265
Filed #277 to investigate this.

[2020-10-19 18:12] wavexx commented on #265
On Mon, Oct 19 2020, vintagepc wrote:

I didn't actually mean to change the existing path, just to switch to a
different mode for the new vertexes as they're being pushed.

This is already more than helpful when printing objects which are
repeated in Z. If I see suspicious behavior I can always clear the
buffer and start anew for a more in-depth inspection.

[2020-10-19 18:18] vintagepc commented on #265
*looks at the entirety of MK404

I thought by now it's clear I either go big or go home... :rofl:

[2020-10-19 18:37] wavexx commented on #265
Muhahah ;). I wouldn't discard the option to switch mode without changing the existing path.
I still like the idea to look at a wall which has been colored in 2 different modes over time :stuck_out_tongue: across Z.
Much easier to compare than looking at two models side-by-side, even now that we have that ;)

[2020-10-20 06:45] DRracer commented on #265
@vintagepc  wow, I love it! This looks exactly like what is needed to fix (counteract) the ghosting artefacts in Linear Advance.

[2020-10-20 12:54] vintagepc commented on #265
:+1: I've pondered it and I think I'll do away with the separate command line arguments and just move both colourization options to the context menu so that one can be picked on the fly. I'll leave recalculating the existing content to a future endeavour.

[2020-10-20 14:09] vintagepc commented on #265
Pushed - I moved the colourization options to the menu.
Note - they will not show unless you have passed `--colour-extrusion` on the command line;  this is because we skip processing the colour entirely if we haven't been asked to do so and the colour vector would not be correctly aligned if one tries to go from "no colouring" to such an option it on mid print.

[2020-10-20 14:10] vintagepc commented on #265
Note I'm holding off merging this since when we do I'd like to have #276 merged in and be able to add some test coverage for these features. I also expect it to change/expand in the near future, so no point writing tests too early if they are going to be invalidated anyway.

[2020-10-20 23:26] vintagepc commented on #243
BTW if you post the STEP files or email them to me I may have some time to knock this out.

[2020-10-24 02:13] vintagepc commented on #265
I stumbled upon a very interesting print today while experimenting. 5% gyroid at normal infill speeds seems to produce some very interesting patterns:

![image](https://user-images.githubusercontent.com/53943260/97064887-8913cd80-1577-11eb-8993-4c4fe7da642d.png)

![IMG_0008](https://user-images.githubusercontent.com/53943260/97065623-cc246f80-157c-11eb-84b5-3132e999935a.JPG)

I suspect this rippli

[2020-10-24 09:46] wavexx commented on #265
@DRracer found a case earlier this week where a low-poly circle would significantly increase LA due to the jerk limit being hit (due to a bogus jerk calculation really).

I guess you generated this using the latest PS right? I submitted a patch earlier this ear to perform aggressive simplification which likely hits the case/resolution combo.

Please don't trash the settings ;), this is speed/heigh

[2020-10-24 11:36] vintagepc commented on #265
Correct :smile:

[2020-10-24 12:05] DRracer commented on #265
Yes, this is one thing we have to fix - this is entirely an error in the FW breaking several types of "smooth" print paths.

[2020-10-24 13:01] vintagepc commented on #265
Yup.

What I find very interesting (and completely unrelated) is how some of these prints look a lot like those ChromaDepth 3d images that you often see for geography and topographic displays.. :laughing:

![image](https://user-images.githubusercontent.com/53943260/97082273-7da3bf00-15d6-11eb-8a87-1505e69410ff.png)

[2020-10-24 19:04] vintagepc commented on #243
FWIW I did find a MK2 STEP file online and can work with that instead if necessary.

[2020-10-26 07:04] 3d-gussner commented on #263
I have been able to print ONE simple print with MK404 and Klipper, the rest just fails.

Here my MK404 Klipper configs:

- gcodes
- finished print ply file
- failed print ply file
- Klipper "printer.cfg" from @leptun
- PrusaSlicer 2.2 Klipper config
- Klipper hex file
- Klippy.log files

I got one print finished after:
- Deleting Prusa_MK3S_eeprom/flas/xflash.bin files in MK404 (not sure if that h

[2020-10-26 07:45] 3d-gussner commented on #263
Short update: Even without `-g lite` Klipper crashes after short time on the 3D Benchy print.

[2020-10-26 12:09] vintagepc commented on #263
Looks like your files did not attach, the link is invalid.

Was MK404 built in release mode? (`-DCMAKE_BUILD_TYPE=Release`)? It is much more performant with that.

[2020-10-26 16:47] 3d-gussner commented on #263
Upload fixed.
I could print a 3D Benchy up to Z2.80mm and it crashed again.

[2020-10-26 17:17] vintagepc commented on #263
Hmm... "Move queue empty" is indeed a new one. I'm not sure what would cause that, since there isn't a serial bottleneck like there is on real hardware... clock frequency looks good and should be stable enough for klipper to not hit timer-related errors.

I'm not an expert in Klipper logs but it almost looks like it's having issues reading the source .gcode file on the klipper host.

[2020-10-27 17:44] KevinOConnor commented on #263
A "Move queue empty" error indicates the host was not able to make accurate predictions of the mcu clock.  (Specifically, the host is tasked with queuing movement only when the mcu has space for it - if the host can't predict when the queue entries will become free it will result in a "move queue empty" error.)

-Kevin

[2020-10-27 22:10] vintagepc commented on #243
Just pushed up an initial commit.

TODOs:

- [ ] Add print bed for 2.5 & S variants
- [ ] Add MMU parts for MK2MMU variant.

[2020-10-27 22:33] vintagepc commented on #243
additional push for two of three. Doing the MMU parts is going to be trickier, I have the STLs, I just need to learn more about SolidEdge to manipulate them as parts and get them placed in the STEP file. I may make that a separate issue.

[2020-10-28 01:33] 3d-gussner commented on #243
I will have at look for the MMUv1 parts.
BTW the MK2 fancy looks great.
The MK2.5 needs a different Extruder.

[2020-10-28 01:36] vintagepc commented on #243
Whoops, yes. I forgot about that >_<

TODO list edited ;)

[2020-10-28 02:43] 3d-gussner commented on #243
Started to convert MMUv1 from SCAD to STEP and OBJ, MTL using FreeCad 0.19 and 3d-builder.
https://github.com/3d-gussner/Original-Prusa-i3/tree/Multi-Material-Upgrade/Printed-Parts
Please let me know if these are okay or I have to clean these a bit?
In the past the conversion from SCAD to STEP via FreeCad 0.1? and Fusion360 needed some cosmetic cleanup.

[2020-10-28 11:24] vintagepc commented on #243
Thanks! I'll have a look today.

[2020-10-28 14:33] vintagepc commented on #243
Yes, if you could do the switchbox v2 and cover v2 I think it'll be a nice touch.

STEP alone is fine, I can manipulate them into place and export as a single group rather than having to handle the individual OBJs in MK404 😄

This is forcing me to learn SolidEdge, and I'm starting to like it more and more, apart from the fact it doesn't run in Wine/Crossover.

[2020-10-28 17:19] 3d-gussner commented on #243
Done https://github.com/3d-gussner/Original-Prusa-i3/tree/Multi-Material-Upgrade/Printed-Parts/STEP
Cleanest is the fusion step file

[2020-10-28 23:10] vintagepc commented on #243
Getting there! I have the MMU models in. I will still need to think about how to do visualizations for the E motors and prints though; the current MMU is somewhat baked in at a lower level so I'll have to decouple that somehow and route connections appropriately.

![image](https://user-images.githubusercontent.com/53943260/97506427-470cd200-1951-11eb-9b9b-60ad653a15a8.png)

[2020-10-29 02:36] vintagepc commented on #243
Well that was a pleasant surprise! Just connecting up the motors (and fixing a colour bug with the additional virtual prints)... it seems to be working!

![image](https://user-images.githubusercontent.com/53943260/97513182-eafe7980-1961-11eb-9ea1-88418cb751f6.png)

I think I'll get some tests written, and then merge this work in and leave the E visualizers for another day when someone actually nee

[2020-10-29 23:20] vintagepc opened #280 "[IMPROVEMENT] - Shorten some of the graphics tests."
**Is your feature request related to a problem? Please describe.**

The MK3 3d graphics tests can be cut down. Right now they sit idle for a lot because they wait for the printer to boot so we don't screenshot while other things are going on.

**Describe the solution you'd like**

Fix this with a custom firmware that just activates the things we need to avoid the long boot wait time, or no FW at a

[2020-10-29 23:28] #243 closed

[2020-10-31 15:41] #280 closed

[2020-11-01 02:11] vintagepc commented on #263
@KevinOConnor Feels like we are close.

I managed to get lucky and get 30% of a benchy before it failed with "lost communication". However, I suspect that was due to hitting the preallocated vector size and the simulator needing to allocate more space. (The fact we can get that far, yet sometimes it fails right on the first layer leads me to think we may be riding right on the edge of sufficient t

[2020-11-01 15:33] KevinOConnor commented on #263
The "move queue empty" error is a bit misleading - it probably should report "move queue full".  The error indicates that the host tried to queue another move on the micro-controller, but there was no available memory to store it.  The host is tasked with only queuing moves when there is space for them (by tracking when old moves complete).

As to your question though, could the host not use as mu

[2020-11-01 17:03] vintagepc commented on #263
OK, so that means we're not finishing things as fast as we should be - as opposed to running out of "things to do"

All I've been experimenting with are variants of checking the "simulation time" in ns against the "wall time" and then doing *something* to make up the difference at regular intervals. The size of those intervals and specifically what I am doing to idle are the knobs I've been twiddl

[2020-11-01 20:18] vintagepc commented on #263
Hmm... I wonder if we are chasing the wrong underlying cause. I just managed to get a frequency graph that looks like this and it still failed with the queue error.

![13](https://user-images.githubusercontent.com/53943260/97813336-77a48280-1c55-11eb-829f-261554577015.png)

[2020-11-02 19:29] KevinOConnor commented on #263
FYI, I don't think the charts (or the data in the log in general) will help, as the frequency is only logged once per second.  What's going to cause problems is sub-second bursts and sub-second slow downs.  So, for example, if the simulation runs 20ms of simulation in 35ms, but then runs the next 20ms of simulation in 5ms it will show up fine in the graphs, but there's a very good chance it would

[2020-11-02 20:30] vintagepc commented on #263
Hmm, that might explain why I am having more luck with my current approach, shy of checking the clock every simulated cycle. Still variable but I did get 80% of the way through a benchy once.

Rather than adding delay time every x cycles, this approach takes advantage of the fact that checking the nanosecond clock is relatively expensive (on the order of a few hundred ns). Then, depending on wheth

[2020-11-02 20:38] vintagepc commented on #263
It also occurs to me that SimAVR supports external clocking of AVR timers.  Perhaps we can make use of that to clock the simulation at a more regular rate.

[2020-11-04 13:52] vintagepc commented on #263
Not finished yet but I pushed up the branch that let me get 80% of the way through a benchy, in case it helps with stability for others. If attempting large prints you'll likely want to adjust the preallocation in GLPrint.h as when we hit that limit Klipper will likely choke because the MCU does not respond in time.

https://github.com/vintagepc/MK404/commits/263-Klipper-take-2

[2020-11-06 02:12] vintagepc commented on #263
OK - I took a look at the timing on a microscale level - this is a plot of the "wall time (ns)" per cycle as time progresses with the current scaling algorithm.

This sets me up to get some more useful information; now I can visually see how we are doing over time. In a perfect situation this chart should be a flat line at 62.5.

![image](https://user-images.githubusercontent.com/53943260/98317839

[2020-11-06 15:21] KevinOConnor commented on #263
FWIW, calling `clock_gettime(CLOCK_MONOTONIC_RAW)` is higher overhead than a regular `gettimeofday()` or `clock_gettime(CLOCK_MONOTONIC)` call (because on most machines the latter use the Linux vDSO).  You shouldn't need microsecond clock accuracy (but will need millisecond accuracy).  So, the normal Linux clocks should work okay.

-Kevin

[2020-11-06 16:19] vintagepc commented on #263
@KevinOConnor So you're saying that it should be able to handle small excursions so long as we're tracking accurately somewhere around the millisecond scale? I am currently working at about a microsecond scale to hopefully get a better picture of what's going on - but once I understand the issue in depth I should be able to pull back a bit and operate on a larger timescale.

I think part of it is

[2020-11-06 17:08] KevinOConnor commented on #263
Yes.

The current Klipper code measures the clock frequency by querying the current clock value once per second.  (The resulting offset/frequency could be skewed by comms jitter and the frequency can change over time, so Klipper performs a bunch of "linear regression" math to obtain better estimates from the raw measurements.)  Klipper can eventually get to an estimate with micro-second accuracy,

[2020-11-07 23:09] vintagepc commented on #263
Status update:  I've added more logging code and can now see that we are indeed losing handfuls of ms at random intervals. It's not consistent, and there are a few culprits. usleep/nanosleep  is a particularly bad offender since it will sporadically sleep 10x or more what was asked. Mutexes from the various cross-thread operations are another. I also suspect disk I/O is hurting things too as it mi

[2020-11-08 01:55] vintagepc commented on #263
Victory! I think thinks are in good shape now. May still find a few lingering issues but I've just completed two benchys without issue.
![image](https://user-images.githubusercontent.com/53943260/98455182-3f141580-213b-11eb-9f72-03673b28be85.png)

[2020-11-11 18:00] #263 closed

[2020-11-11 20:02] KevinOConnor commented on #263
Nice.  Out of curiosity, did you also end up changing TRANSMIT_EXTRA in Klipper?  And if so, what did you ultimately set it to?

-Kevin

[2020-11-11 20:10] vintagepc commented on #263
Yes - I did end up changing it to 10ms as suggested and that seems to have done the trick to help with smaller irregularities (after I got rid of the larger ones caused by the sleeps and cross thread mutexes)

It still chokes on underpowered computers (we know that >4 cores/threads are required - since MK404 takes at least 4 threads by itself, not accounting for the Klipper process and whatever yo

[2020-11-12 00:14] vintagepc opened #284 "[FEATURE] PINDA Image implementation"
**Is your feature request related to a problem? Please describe.**
Add support for the simulated PINDA to replicate an "image" as output by a MK3S over serial.

[2020-11-12 00:23] vintagepc commented on #284
@DRracer - Just pushed up a preliminary implementation.
https://github.com/vintagepc/MK404/tree/PINDA-image-option

It's not complete/not quite right, but that is more to do with understanding the search algorithm and correcting the "magic numbers" that make it work than anything functional; That is something I expect would be far more expedient for someone familiar with the algorithm as opposed t

[2020-11-13 18:52] KevinOConnor commented on #263
Ah, makes sense.  I was thinking of changing the default in Klipper from 1ms to 5ms.  I'm a little leery of going to 10ms for the default, just because I'm afraid of introducing a regression (and I've not seen the problem outside of simulators).  I'm not sure if 5ms would help here though.

FWIW, it's fine to simulate a slower speed (eg, pace to 8mhz on a nominal 16mhz chip).  Klipper should produ

[2020-11-13 19:22] vintagepc commented on #263
It might be sufficient for the simulation to use 5, I added logging as a feature and it will report "lost" time; usually I only see <5ms with any regularity - but I can definitely make it have significant losses by doing things that load the CPU cores or disk.

I think the losses aren't necessarily the simulation speed but the context swapping and concurrency of other processes if your system does

[2020-11-18 01:28] KevinOConnor commented on #263
Thanks.  It does seem like a useful tool.  Unfortunately, I haven't gotten a chance to spend time working with MK404, and I probably wont get much time in the short-term.

I do appreciate the offer and your efforts!
-Kevin

[2020-11-25 16:39] espr14 opened #287 "[Q+A] Running in Windows subsystem for Linux"
I can build MK404 on Ubuntu 20 on WSL on ext4. WSL (compared to WSL2) does not have display:0 but I used VNC so I ran it on display:1. It has some problem with OpenGL. I'll try WSL2.

[2020-11-25 16:44] vintagepc commented on #287
What sort of issue are you encountering? (error messages, console output etc)?

Have you tried with the "native" cygwin build?

[2020-11-26 06:20] 3d-gussner commented on #287
@espr14 I had MK404 running in WSL2 and it kind of worked. Changed to Dual boot due to my "old" PC wasn't performing that well with MK404 in WSL2.
Also to install MK404 on "fresh" Ubuntu this might help:
[code]

[2020-11-26 12:57] espr14 commented on #287
sudo apt install git

[2020-11-26 13:34] vintagepc commented on #287
That should be fine for most purposes, though the VM likely will not have enough GPU grunt for `-g fancy` or any of the 3d extrusion options.

[2020-11-28 14:48] espr14 commented on #287
`-g lite` runs ~8 fps.

[2020-11-28 14:53] vintagepc commented on #287
Have you enabled 2d/3d acceleration in Virtualbox and installed the drivers in the ubuntu guest?

[2020-11-28 15:36] vintagepc commented on #287
https://blogs.oracle.com/scoter/oracle-vm-virtualbox-6-3d-acceleration-for-ubuntu-1804-guest

[2020-12-09 22:47] vintagepc opened #288 "[FEATURE] Consolidate new pipe-frontend code with existing devices"
**Is your feature request related to a problem? Please describe.**
When the IPC frontend is more complete, consolidate the components (e.g., have the Allegro and TMC drivers derive from GLMotor for their graphics, and have LED-type devices derive from IPCIndicator).

[2021-01-22 18:54] yash-fn opened #289 "[BUG] cmake variable incorrect"
Simple Build Error.

MK404 target requires
set (LIBSIMAVR ${PROJECT_SOURCE_DIR}/3rdParty/simavr/simavr/obj-${SIMAVR_BIN_DIR}/libsimavr.a)
to be changed to
set (LIBSIMAVR ${PROJECT_SOURCE_DIR}/3rdParty/simavr/simavr/obj-${SIMAVR_BIN_DIR}.2.0/libsimavr.a)

in order for it to build.

I don't know cmake so I don't know how to change that .2.0 expression into a wildcard or regex.

My system: Latest Mac

[2021-01-22 19:21] vintagepc commented on #289
Not sure where that is coming from, we use the same syntax as simavr to determine what the build obj directory is.

What compiler are you using and what is the output of `[compiler] -dumpmachine`?

[2021-01-22 23:41] yash-fn commented on #289
gcc-10 (Homebrew GCC 10.2.0_2) 10.2.0

I do not know how to determine [compiler] -dumpmachine.

All I know is that the project wouldn't compile until I added the .2.0 part. But perhaps I did something wrong. If you are sure it works on your system then we can close the issue as there is no problem for me now either as the project ultimately compiled successfully! I was just bringing to your attent

[2021-01-22 23:41] #289 closed

[2021-01-22 23:45] vintagepc commented on #289
Yes, we've not encountered this before (and the git CI system builds every commit) so there must be something strange about this particular instance.  If you're using gcc, it should just be `gcc -dumpmachine` in the command line

[2021-01-23 01:52] yysh12 commented on #289
x86_64-apple-darwin20

Well that’s weird.

[2021-01-23 01:53] yysh12 commented on #289
x86_64-apple-darwin20

Well that’s weird. And right now just playing around, but eventually going to attempt to use this to test an new stepper ISR I’ve been working on.

[2021-01-23 01:57] vintagepc commented on #289
Hmm... strange indeed. the only thing I can think of is the simavr module might be defaulting to a different compiler if not explicitly specified with, e.g. `cmake -DCMAKE_C_COMPILER=....`

Hope your project works out - that's exactly the reason I made this! No more guessing what might be going on in the code when something doesn't work :)

[2021-01-23 02:10] yysh12 commented on #289
Yeah. Possibly something isn’t vanilla on my system. I’ve been installing a lot of random crap including all sorts of mcu toolkits and system extensions. But, as they say, if it ain’t broke.
And thanks! Yeah this system you’ve created is pretty damn amazing. I’ll be sure the spread the word! <3

[2021-01-23 02:13] yash-fn commented on #289
Yeah. Possibly something isn’t vanilla on my system. I’ve been installing a lot of random crap including all sorts of mcu toolkits and system extensions. But, as they say, if it ain’t broke.
And thanks! Yeah this system you’ve created is pretty damn amazing. I’ll be sure the spread the word! <3

[2021-02-03 23:21] vintagepc opened #291 "[BUG] MK404 always enters factory reset after reboot or WDR"
**Describe the bug**
When resetting the printer or due to WDR, it will get stuck in factory reset because the encoder button is in the wrong state.

Find out why the code that is supposed to handle this after a delay isn't working.

[2021-02-07 14:57] #291 closed

[2021-03-07 22:32] #12 closed

[2021-03-07 22:33] #287 closed

[2021-03-19 15:05] vintagepc opened #298 "[FEATURE] Screenshot menu"
**Is your feature request related to a problem? Please describe.**

Add a screenshot item to the middle-click menu so that one can be captured without needing to specify a filename. Just use an incrementing counter like Screenshot01.png, 02, etc.

[2021-03-20 00:05] #298 closed

[2021-04-05 12:56] vintagepc opened #302 "[IMPROVEMENT] Revisit clang-tidy and cppcheck"
CPPCheck and clang-tidy have been updated on the build runners and have new complaints.

Review them all and look at which ones are superfluous and which ones should be fixed.

[2021-04-14 16:13] vintagepc opened #303 "[FEATURE] Debug chip"
For @leptun - add a fake "debug" 2560 variant with more flash space so it can load fully-debuggable firmware that has not been optimized.

[2021-04-18 23:09] vintagepc commented on #302
Probably fixed with https://github.com/vintagepc/MK404/commit/8963a54c9ca8fce0611c58cd43fd54bc94783ec6

looks like at some point 6.0 became the default, but this is broken when using clang-5.0 as the backend and leads to false positives.

[2021-04-18 23:09] #302 closed

[2021-04-20 17:42] #303 closed

[2021-06-19 11:17] wavexx opened #311 "[FEATURE] Allow mounting SD images in R/O mode"
**Is your feature request related to a problem? Please describe.**
I'm looking at some test SD images which I made intentionally R/O. These fail to mount, since in SDCard.cpp:571 we explicitly open them with O_RDWR with no fallback.

**Describe the solution you'd like**
If open() fails, we should attempt to reopen the file with O_RDONLY or probe using access(2).

If O_RDONLY succeeds, for a proper

[2021-06-19 18:54] #311 closed

[2021-06-20 11:46] wavexx opened #313 "[BUG] Crash on PINDA when probing outside the bed range"
**Describe the bug**
Attempt to perform MBL on a MK2.5S results in a crash:

[code]

The calculated iX is 255, because the m_fOffset[0] = 25, m_fPos[0] = 10, so it results in a negative number. Note that this is happening while homing, not during MBL.

Maybe the XY offset is not entirely correct at that point? There's a good argument that PINDA shouldn't trigger when far away from the bed (althoug

[2021-06-20 12:15] #313 closed

[2021-06-23 15:25] wavexx opened #315 "[FEATURE] ScriptHost: Board::WaitForReset()"
**Is your feature request related to a problem? Please describe.**
I'd like a way to explicitly wait for a reset instead of having to match some output from the serial to tell if the board just rebooted.

**Describe the solution you'd like**
Board::WaitForReset() sounds good to me :)

**Describe alternatives you've considered**
Searching through the various commands, I didn't see anything I could

[2021-06-24 15:32] wavexx opened #317 "[BUG] --test flag should hide the UI in more cases"
**Describe the bug**
I had a few scripting scenarios where I just needed to communicate with the printer by serial, or to debug it. For this reason I didn't want any UI, so I tried to use "--test -s", but it still shows the LCD emulation.

Likewise, a similar scenario is "--test --gdb", where I might be scripting gdb and thus have no need for the UI as well.
Looks like the only scenario where --te

[2021-06-24 15:48] vintagepc commented on #317
The "no graphics" part of that is probably wrong now as I believe in some cases we use --test with graphics for the automated testing components that take screenshots to verify the GL behaviour.

I think what you're looking for that is more suitable to your use case is also using `-g none` as an argument. That should suppress all graphics.

[2021-06-24 16:10] wavexx commented on #317
Oh, well then, works good enough for me using --test in combination with -g none :)
Maybe it just needs a better description, or yeah removing it completely, so that graphics control is explicitly handled via -g.

[2021-06-24 16:12] wavexx commented on #317
On the other side, is there an explicit way to request the "2D ui only" via -g? I know it's default, but I think it should be listed as an explicit choice.

[2021-06-24 18:09] vintagepc commented on #317
Not currently but it should be possible to add one and just have it no-op

[2021-06-27 10:04] wavexx commented on #315
Working as intended!

[2021-06-27 18:13] #315 closed

[2021-06-27 18:17] #317 closed

[2021-07-19 13:18] vintagepc opened #318 "[BUG] Cygwin build may not be working"
**Describe the bug**

Reported that 1.0.3+ do not work anymore in Cygwin though there aren't any build errors. Look into this. Perhaps the cmake conversion for simavr broke something?

[2021-07-21 21:05] #318 closed

[2021-08-10 02:43] #288 closed

[2021-08-10 12:59] vintagepc opened #321 "Coverage cleanup"
Improve coverage - there are some scripting options and cases that aren't tested currently (e.g. tmc scripting). Review and expand accordingly.

[2021-08-13 09:11] wavexx opened #323 "[BUG] Crash on SD card handling when rapid-firing 'c'"
**Describe the bug**
MK404 crashes when holding 'c' (mount/unmount SD card)

**To Reproduce**
- Start MK404 with a MK3/S FW.
- Press and hold 'c' to mount/unmount the SD card quickly (I was trying to reproduce a FW issue.. believe me ;))
- Eventually MK404 itself will crash:

[code]

**Expected behavior**
No crash, I suppose :)

**Screenshots**
☠

**Desktop (please complete the following informati

[2021-08-13 12:26] vintagepc commented on #323
Good find, this is a nasty one.

Looks like we forgot to guard against the memory-mapped data "going away" in the middle of a block read:

![image](https://user-images.githubusercontent.com/53943260/129356714-6cca849f-1ab0-4707-b865-af03830d8718.png)

[2021-08-13 12:51] wavexx commented on #323
I had to laugh at the "let's never speak of this again" label :P

[2021-08-16 13:43] wavexx opened #324 "[FEATURE] Handle "?" to display keyboard shortcuts while running"
**Is your feature request related to a problem? Please describe.**
I keep forgetting all the nice keyboard shortcuts, so I have to run with 'MK404 -k' to get the list of supported keys.

**Describe the solution you'd like**
It would be nice to handle '?' as a special key in all boards to display (even just on the console) the list of available shortcuts we can use.

**Describe alternatives you've

[2021-08-21 21:55] #323 closed

[2021-08-21 21:55] #324 closed

[2021-08-22 16:35] #321 closed

[2021-08-23 08:40] wavexx opened #327 "[BUG] PCH + Ninja: random parallel build failure"
**Describe the bug**
Probably not a bug in itself, but I'm logging this here: I just tried to rebuild using ninja & gcc 11. With the default being PCH=On, I sometimes see:

[code]

This is misleading though. I guess that -mrtm is actually toggled by a different optimization level somewhere. Or maybe it's actually a bug in gcc 11. And since ninja tends to run things more parallel-ly than make, you

[2021-08-23 12:23] vintagepc commented on #327
FYI we've seen similar issues running Ninja directly on Mini404 as well; the auto-parallel builds there fail because a certain order of execution/build is required that it doesn't respect.

It'd be nice if we could fix it, sure.

[2021-10-13 17:32] vintagepc opened #330 "[FEATURE] Update codecov uploader"
codecov uploader is being deprecated. Update it.

[2021-10-13 19:58] #330 closed

[2021-10-27 22:02] vintagepc opened #333 "[BUG] Terminal is glitched on standalone MMU2 and when resizing."
Per title. Fix this - it moves incorrectly when scaled and because the MMU is drawn from the bottom it covers it.

[2021-10-27 22:03] vintagepc opened #334 "[BUG] Backlight@255 bug is back"
.... again.

[2021-10-27 22:06] vintagepc opened #335 "[FEATURE] Screenshot should scale."
When #333 is fixed, make sure the screenshots are the correct size as determined by the window scale.

- [ ] `S` key selects wrong region if the window is bigger than expected
- [ ] double-check regular snaps.

[2021-10-28 02:07] #333 closed, assigned to nobody

[2021-10-28 02:07] #335 closed, assigned to nobody

[2021-12-03 08:53] GilesBathgate opened #345 "[FEATURE] Commandline option for soft PWM"
**Is your feature request related to a problem? Please describe.**
When testing 3.10.x firmware on MK2 simulated hardware, I'd like the option to enable software PWM.

**Describe the solution you'd like**
 `./MK404 Prusa_MK2_mR13 --soft-pwm=enable -f ...`

If not specified, and for other printer types, this will default to how its set to currently.

**Describe alternatives you've considered**
Mayb

[2021-12-03 13:06] vintagepc commented on #345
hmm, this is a more "generic" style feature so a command line flag is probably best rather than splitting off more board configurations that are 99% the same.

My approach would probably be to add it as an item in `Config::` with a ternary state - not set, on, off and then check and use that accordingly during `Board::SetupHardware()`.

If you have some time and would like to take a crack at a PR,

[2021-12-04 08:48] GilesBathgate opened #347 "[FEATURE] Gimbal rotation"
**Is your feature request related to a problem? Please describe.**
Arcball rotation solves the issue of gimbal lock, but it's not really very "nice" for moving the printer around. Essentially the camera roll isn't locked, so you easily end up with a printer that isn't level to the horizon.

![image](https://user-images.githubusercontent.com/444143/144703372-3dc32972-0f2b-4639-81dc-497dedfdb3b7.png

[2021-12-04 14:14] vintagepc commented on #345
Closed by #346

[2021-12-04 14:14] #345 closed

[2021-12-04 15:03] vintagepc commented on #347
I would support this, there's no real reason we went with Arcball other than that it was convenient and had a nice ready-to-go third party implementation we could just drop in.

[2022-01-06 13:36] vintagepc opened #350 "[FEATURE] PTY scripting terminal"
**Is your feature request related to a problem? Please describe.**
Mini404 can support scripting via PTY to have external software drive the sim's I/O. See if this can be added for MK404.

Probably not a huge stretch, since we have the UI's built-in terminal already, likely just a matter of adapting a bit of code to do its IO on a PTY instead.

[2022-01-08 20:03] #350 closed

[2022-01-15 18:53] TheEvilDev opened #352 "[BUG] Won't start on MacOSX?"
**Describe the bug**
I'm not sure if this is a bug, or more just because I am a noob when it comes to C++, but I followed the brew instructions for MacOSX platform support, and recompiled it from source with cmake and make install. No issues with any of this, but when I run the program, I get the following output. I expect I'm missing some dependencies in the right places.

Here's the log output w

[2022-01-15 19:03] vintagepc commented on #352
This sounds like it cannot find a display server to connect to.

If memory serves, you need to manually start an instance of XQuartz before trying to launch MK404. If it still gives you the same error, you may need to explicitly tell it the display name to use, e.g. if the XQuartz output says something about Display :0 then the syntax is `DISPLAY=:0 ./MK404 ...`

Let me know if that fixes it, if s

[2022-01-15 19:10] TheEvilDev commented on #352
Actually, thanks for the quick response, turns out all I needed to do was reboot, it's working now, thanks for the great work on this project!

[2022-01-15 19:10] #352 closed

[2022-01-15 19:11] vintagepc commented on #352
Ah, fantastic! I'll add a note to the wiki.

[2022-01-28 13:05] vintagepc opened #355 "[FEATURE] Handle hex semicolons"
Prusa hex files have a non-spec extension that uses a semicolon to tell PS what device the firmware is for. See if we can work around that line without needing to edit hex files.

[2022-01-28 22:48] #355 closed

[2022-03-03 14:12] vintagepc opened #356 "[BUG] Always disable AVR_UART_FLAG_POLL_SLEEP"
Someone tried to be clever and detect AVR code spinlooping on UART reads.

This is the cause of the bootloader being stupidly slow.

Just disable the `AVR_UART_FLAG_POLL_SLEEP` flag on all UARTs for sim printers.

[2022-03-04 13:24] #356 closed

[2022-03-04 13:27] vintagepc opened #358 "[BUG] Check and fix initial register values after reset"
**Describe the bug**
It's suspected that the initial register values for some of the AVR peripherals may not be correct. Double check them and fix, if necessary.

[2022-05-25 18:14] wavexx opened #362 "[BUG] Crash on LCD desync"
**Describe the bug**
Using LCD->Desync can cause the following assertion failure:

[code]

**To Reproduce**
1. Emulate any MK3 FW
2. Middle click -> LCD -> Desync
3. Wait about 2 seconds
4. Repeat from step 2 if crash doesn't happen

**Expected behavior**
No ouch on the cli ;)

**Desktop (please complete the following information):**
 - OS: linux debian/unstable

[2022-05-25 20:49] vintagepc commented on #362
Heh, the desync probably results in the display receiving an address directive that is off the end of the memory array. Hopefully an easy fix

[2022-05-29 13:17] #362 closed

[2022-06-17 12:57] vintagepc opened #364 "[FEATURE] Fuzz interrupt timings"
For attempting to reproduce strange/rare bugs... see if there's a way to fuzz timing of interrupts by a cycle or two.

Should be reproducible with a seed value for the RNG

[2022-10-03 12:08] wavexx opened #369 "[BUG] Fail if firmware is not readable/usable"
**Describe the bug**
Running `MK404 -f` with a broken/missing/non-existing firmware file will still start without complaining if a previous firmware was already loaded.

If `-f` is provided, it should always _require_ a existing firmware and replace the existing, resulting in a failure.

If `-f` provides a broken FW, and later MK404 is run without a `-f` flag, MK404 should stay broken.

The curren

[2022-10-08 13:40] vintagepc commented on #369
I can definitely add a failure if the file is not found.

However, I'm not sure I understand the second request in regards to the third call also failing - "broken" firmware how? If a bad firmware is loaded into flash it will remain there and continue to be broken. Or are you proposing that if a nonexistent file is specified, that the flash space be wiped?